<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()">
                                        <i class="iconify pi pi-arrow-left"></i>
                                    </a>
                                    <h3>Training Assessment Questions</h3>
                                </div>
                            </div>
                            @if(false){
                            <div class="col-md-5 col-12">
                                <div class="form-right">
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Download
                                            <i class="iconify pi pi-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download PDF</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <!-- <h5>{{readOnlyAssesment().assessment_type_name}}</h5> -->
                                            @if(readOnlyAssesment().updated_at!=null){
                                            <p>Last Updated On <strong>{{readOnlyAssesment().updated_at}}</strong></p>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            @if(readOnlyAssesment().status === 'Active'){
                                            <span class="badge-green">{{readOnlyAssesment().status}}</span>
                                            }
                                            @else{
                                            <span class="badge-red">{{readOnlyAssesment().status}}</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit tablehrz">
                                <table class="table table-bordered table-line">
                                    <tr>
                                        <th>Training Name </th>
                                        <th>Assessment Type</th>
                                        <th>Total Questions</th>
                                        <th>Total Score</th>
                                        <th>Pass Mark</th>
                                        <th>Created On</th>
                                    </tr>
                                    <tr>
                                        <td>{{readOnlyAssesment().training_name}}</td>
                                        <td>{{readOnlyAssesment().assessment_type_name}}</td>
                                        <td>{{readOnlyAssesment().total_questions}}</td>
                                        <td>{{readOnlyAssesment().total_score}} </td>
                                        <td>{{readOnlyAssesment().pass_mark}} </td>
                                        <td>{{readOnlyAssesment().created_at}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Pre - Assessment Questions</h5>
                                            <p> {{readOnlyAssesment().pre_questions.length}} Questions</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit-row">
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        @for (assesment of readOnlyAssesment().pre_questions;
                                        track assesment;let addIndex=$index) {
                                        <tr>
                                            <td width="80%"> ({{addIndex + 1}}) {{ assesment['question_text'] }}</td>
                                        </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Post - Assessment Questions</h5>
                                            <p> {{readOnlyAssesment().post_questions.length}} Questions</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit-row">
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        @for (assesment of readOnlyAssesment().post_questions;
                                        track assesment;let addIndex=$index) {
                                        <tr>
                                            <td width="80%"> ({{addIndex + 1}}) {{ assesment['question_text'] }}</td>
                                        </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>