<section class="wrapper-body">
  <div class="container-fluid">
    <section class="status-card">
      <div class="main-heading-link">
        <h3 class="main-heading">PREM (Patient-Reported Experience Measure)</h3>
        <div class="btn-group-row">
          <div class="dropdown dropdown-style1 filterDropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="iconify icon-calc pi pi-calendar"></i>
              {{ selectedRange }}
              <i class="iconify pi pi-angle-down"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last 7 days')">Last 7 days</a></li>
              <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last 30 days')">Last 30 days</a></li>
              <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last Month')">Last Month</a></li>
              <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last 6 Months')">Last 6 Months</a>
              </li>
              <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last Year')">Last Year</a></li>
            </ul>
          </div>
          <a href="javascript:;" class="btn btn-success" (click)="onPageRoute('NEW',null)"><i class=" pi pi-plus-circle"
              style="margin-right: 2px;"></i>New PREM Entry </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card-grid-cover bg4">
            <div class="card-grid-header">
              <h5>PREM <br /> Feedbacks</h5>
              <h3>{{stats().prem_fb_cnt}}</h3>
              <div class="icon">
                <i class="iconify pi pi-copy primeicons-size"></i>
              </div>
            </div>
            <div class="card-grid-body">
              <div class="row align-items-center">
                <div class="col-md-7 col-7">
                  <p>Last Updated</p>
                  <h5>{{stats().prem_fb_last_updated || 'N/A'}}</h5>
                </div>
                <div class="col-md-5 col-5 text-end">
                  <!-- <button class="btn btn-light" routerLink="/prem-overall-feedback-report">View Report</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card-grid-cover bg1">
            <div class="card-grid-header">
              <h5>Daily <br /> Feedbacks</h5>
              <h3>{{stats().daily_fb_cnt}}</h3>
              <div class="icon">
                <i class="iconify pi pi-search-plus primeicons-size"></i>
              </div>
            </div>
            <div class="card-grid-body">
              <div class="row align-items-center">
                <div class="col-md-7 col-7">
                  <p>Last Updated</p>
                  <h5>{{stats().daily_fb_last_updated || 'N/A'}}</h5>
                </div>
                <div class="col-md-5 text-end col-5">
                  <!-- <button class="btn btn-light" routerLink="/prem-daily-feedbacks">View All</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card-grid-cover bg2">
            <div class="card-grid-header">
              <h5>Discharge <br /> Feedbacks</h5>
              <h3>{{stats().ds_fb_cnt}}</h3>
              <div class="icon">
                <i class="iconify pi pi-calendar-clock primeicons-size"></i>
              </div>
            </div>
            <div class="card-grid-body">
              <div class="row align-items-center">
                <div class="col-md-7 col-7">
                  <p>Last Updated</p>
                  <h5>{{stats().ds_fb_last_updated || 'N/A'}}</h5>
                </div>
                <div class="col-md-5 col-5 text-end">
                  <!-- <button class="btn btn-light" routerLink="/prem-discharge-feedbacks">View All</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card-grid-cover bg3">
            <div class="card-grid-header">
              <h5>Out Patient <br />Feedbacks</h5>
              <h3>{{stats().op_fb_cnt}}</h3>
              <div class="icon">
                <i class="iconify pi pi-verified "></i>
              </div>
            </div>
            <div class="card-grid-body">
              <div class="row align-items-center">
                <div class="col-md-7 col-7">
                  <p>Last Updated</p>
                  <h5>{{stats().op_fb_last_updated || 'N/A'}}</h5>
                </div>
                <div class="col-md-5 col-5 text-end">
                  <!-- <button class="btn btn-light" routerLink="/prem-outpatient-feedbacks">View All</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="card-tab">
      <ul>
        <li class="active"><a href="javascript:;" (click)="onPageRoute('DailyFeedbacks',null)">Daily Feedbacks</a></li>
        <li><a href="javascript:;" (click)="onPageRoute('DischargeFeedbacks',null)">Discharge Feedbacks</a></li>
        <li><a href="javascript:;" (click)="onPageRoute('OutPatientFeedbacks',null)">Out Patient Feedbacks</a></li>
      </ul>
    </div>

    <section class="chart-section mt-3 mb-3">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
          <div class="card-style1 piechart departmentChart">
            <div class="card-header">
              Department Wise Feedbacks
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <app-department-risk #dep></app-department-risk>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
          <div class="card-style1 barchart dischargeFeedback">
            <div class="card-header">
              Top IP Feedback Issues
            </div>
            <div class="card-body">
              <app-discharge-feedbacks #ip></app-discharge-feedbacks>
              <div class="dropdown dropdown-style1 chart-filter1">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{ topIPRptText }} <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                </button>
                <ul class="dropdown-menu">
                  @for (option of topIPRptList; track option) {
                  <li>
                    <a class="dropdown-item" href="javascript:;" (click)="topIPChartInfo(option)">
                      {{ option }}
                    </a>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-12">
          <div class="card-style1 barchart suggestionCompliance">
            <div class="card-header">
              Total Feedback Collected
            </div>
            <div class="card-body">
              <app-suggestions-prem #fdbk></app-suggestions-prem>
              <div class="dropdown dropdown-style1 chart-filter1">
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{ topFeedbckRptText }} <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                </button>
                <ul class="dropdown-menu">
                  @for (option of topFeedbckRptList; track option) {
                  <li>
                    <a class="dropdown-item" href="javascript:;" (click)="topFeedbckChartInfo(option)">
                      {{ option }}
                    </a>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="report-table mt-3 mb-3">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="card-style2">
            <div class="card-header backoption table-search">
              <div class="row">
                <div class="col-md-5 col-12">
                  <div class="heading-left">
                    <h3>PREM Feedback History</h3>
                  </div>
                </div>
                <div class="col-md-7 col-12">
                  <div class="form-right">
                    <a href="javascript:;" ngbTooltip="Filter" placement="top" class="icon-btn-square"
                      (click)="filterToggle()"> <i class="iconify pi pi-sliders-h"></i></a>
                    <div class="dropdown dropdown-style1 ms-2">
                      <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Download Report
                        <i class="iconify pi pi-angle-down"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li
                          [DCSV]="{ param :params,screenName:'Daily Feedbacks',data : premDailyFdbkGrid.length,methodName : 'fnPremFeedbackApi' }">
                          <a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                        <li
                          [PDF]="{ param :params,screenName:'Daily Feedbacks',data : premDailyFdbkGrid.length,methodName : 'fnPremFeedbackApi' }">
                          <a class="dropdown-item" href="javascript:;">Download Pdf</a></li>
                        <li
                          [EXCEL]="{ param :params,screenName:'Daily Feedbacks',data : premDailyFdbkGrid.length,methodName : 'fnPremFeedbackApi'  }">
                          <a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            @if (showFilter) {
            <div class="filter-box form-sm">
              <div class="row">
                <div class="col-md-11 col-12">
                  <div class="row gx-2">
                    <div class="col-md-3 col-12">
                      <div class="flex flex-col gap-1">
                        <label for="uhid">By Patient Name / UHID</label>
                        <p-select id="uhid" [(ngModel)]="premDailyFdbkFilters().uhid" name="uhid"
                          [options]="uhidList" [filter]="true" [showClear]="true" (onClear)="onFilterClear(true)"
                          class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="flex flex-col gap-1">
                        <label for="department_name">By Department</label>
                        <p-select id="department_name" [(ngModel)]="premDailyFdbkFilters().department_name"
                          name="department_name" [options]="departmentList" [filter]="true" [showClear]="true"
                          (onClear)="onFilterClear(true)" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="flex flex-col gap-1">
                        <label for="issue_type_name">By Issue</label>
                        <p-select id="issue_type_name" [(ngModel)]="premDailyFdbkFilters().issue_type_name"
                          name="issue_type_name" [options]="issuesList" [filter]="true" [showClear]="true"
                          (onClear)="onFilterClear(true)" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="flex flex-col gap-1">
                        <label for="status">By Status</label>
                        <p-select id="status" [(ngModel)]="premDailyFdbkFilters().status" name="status"
                          [options]="statusList" [filter]="true" [showClear]="true" (onClear)="onFilterClear(true)"
                          class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-12 ps-0">
                  <button class="btn btn-primary w-100" (click)="onFilterClick()">Filter</button>
                  <button class="btn btn-dark" (click)="onFilterClear(null)">Clear</button>
                </div>
              </div>
            </div>
            }

            <div class="card-body table-style1 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col" sortable="uhid" (sort)="onSort($event)">
                      UHID
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="department_name" (sort)="onSort($event)">
                      Department
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th width="20%" scope="col" sortable="issue_type_name" (sort)="onSort($event)">
                      Issue
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th width="20%" scope="col" sortable="description" (sort)="onSort($event)">
                      Description  
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <!-- <th scope="col" sortable="dt_tm_fdbk" (sort)="onSort($event)">
                      Date & Time of Feedback
                      <i class="iconify pi pi-sort"></i>
                    </th> -->
                    <th scope="col" sortable="created_by" (sort)="onSort($event)">
                      Created By
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="created_at" (sort)="onSort($event)">
                      Created on
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="updated_by" (sort)="onSort($event)">
                      Modified By
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="updated_at" (sort)="onSort($event)">
                      Last Modified
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="status" (sort)="onSort($event)">
                      Status
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (premDailyFdbkTable of premDailyFdbkGrid; track premDailyFdbkTable.uhid) {
                  <tr>
                    <td scope="row">{{ premDailyFdbkTable.id }}</td>
                    <td>{{ premDailyFdbkTable.uhid }}</td>
                    <td>{{ premDailyFdbkTable.department_name }}</td>
                    <td>{{ premDailyFdbkTable.issue_type_name }}</td>
                    <td>{{ premDailyFdbkTable.description }}</td>
                    <!-- <td>{{ premDailyFdbkTable.created_at }}</td> -->
                    <td>{{ premDailyFdbkTable.created_by }}</td>
                    <td>{{ premDailyFdbkTable.created_at }}</td>
                    <td>{{ premDailyFdbkTable.updated_by }}</td>
                    <td>{{ premDailyFdbkTable.updated_at }}</td>
                    <td [ngClass]="{
                                                'text-success': premDailyFdbkTable.status === 'Resolved',
                                                'text-warning': premDailyFdbkTable.status === 'Review'
                                              }">
                      {{ premDailyFdbkTable.status }}
                    </td>
                    <td>
                      <div class="action-rowflex">
                        <div class="actiondot-dropdown">
                          <div class="btn-group ms-2">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              <i class="iconify pi pi-ellipsis-h"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li>
                                <a class="dropdown-item" href="javascript:;" (click)="onPageRoute('VIEW',null)">View</a>
                              </li>
                              <li>
                                <a class="dropdown-item" href="javascript:;" data-bs-toggle="modal"
                                  data-bs-target="#actionTakenModal"> Write CAPA</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- Take Action Modal -->
<div class="modal fade modal-custom-md" id="actionTakenModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Action Taken</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="audit-info-cover">
          <div class="table-audit mb-0">
            <table class="table table-bordered table-sm mb-0">
              <tr>
                <th width="30%">Patient Name</th>
                <th>UHID</th>
                <th>Department</th>
                <th>Issue</th>
              </tr>
              <tr>
                <td>Rajesh Kumar</td>
                <td>#78900346</td>
                <td>Housekeeping</td>
                <td>Unclean Rooms</td>
              </tr>
            </table>
          </div>
          <div class="table-audit mt-2">
            <table class="table table-bordered table-sm mt-2 mb-0">
              <tr>
                <th>Description</th>
                <td>Bed not changed after patient discharge.</td>
              </tr>
              <tr>
                <th>Feedback Date &amp; Time</th>
                <td>15-04-2025 11:30 AM</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="form-lg mt-2">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Write CAPA <b>*</b></label>
                <textarea class="form-control" rows="3" placeholder="Minimum 120 characters"></textarea>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Action Taken <b>*</b></label>
                <textarea class="form-control" rows="3" placeholder="Minimum 120 characters"></textarea>
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label>Supporting Documents or Evidence.</label>
                <div class="upload-image">
                  <button class="btn btn-primary"><span class="iconify"
                      data-icon="material-symbols:upload-rounded"></span> Upload Documents / Evidence</button>
                  <div class="upload-fileinfo">
                    <p>Evidence743677547.pdf </p>
                    <a href="javascript:;">Remove</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="form-group radio-group">
                <p>Status <b>*</b></p>
                <div class="form-radio-inline mt-2">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                      value="option1" checked="">
                    <label class="form-check-label" for="inlineRadio1">Review</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                      value="option2">
                    <label class="form-check-label" for="inlineRadio2">Resolved</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="button-group">
          <div class="row">
            <div class="col-md-12 col-12">
              <button class="btn btn-dark">Clear</button>
              <button class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Take Action Modal End -->