<section class="wrapper-body">
  <div class="container-fluid page-height">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="card-style2">
          <div class="card-header backoption">
            <div class="row">
              <div class="col-md-7 col-12">
                <div class="heading-left">
                  <a href="javascript:;" class="icon-btn-square" (click)="goBack()">
                    <!-- <span class="iconify" data-icon="famicons:arrow-back-outline"></span> -->
                    <i class="iconify pi pi-arrow-left"></i>
                  </a>
                  <h3>{{_hqms.getPageModeContext(pageMode, 'Audit') }}</h3>
                </div>
              </div>
              <div class="col-md-5 col-12">
                <div class="form-right">
                  <button type="button" class="btn btn-dark" [disabled]="pageMode=='VIEW'"
                    (click)="onClearClick()">Clear</button>
                  <button type="submit" class="btn btn-primary" [disabled]="pageMode=='VIEW'"
                    (click)="onSubmitClick()">Submit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="formbox-left form-lg">
              <form>
                <div class="row">
                  <div class="col-md-3 col-12">
                    <div class="form-group mb-0">
                      <div class="flex flex-col gap-1">
                        <label for="audit_type_id">Audit Type</label>
                        <p-select id="audit_type_id" [(ngModel)]="createAudit().audit_type_id"
                          (onChange)="onGetErrorMsgs('audit_type_id')" name="audit_type_id"
                          [disabled]="pageMode=='VIEW'" [options]="auditTypeList" [filter]="true"
                          [showClear]="true" class="form-control" />
                        @if(errorMsg['audit_type_id']!=''){
                        <small class="error">{{ errorMsg['audit_type_id']}}</small>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="form-group mb-0">
                      <div class="flex flex-col gap-1">
                        <label for="audit_name">Audit Name</label>
                        <div style="position: relative;display:inline-block;width:100%">
                          <input pInputText id="audit_name" [(ngModel)]="createAudit().audit_name"
                            (blur)="onGetErrorMsgs('audit_name')" [disabled]="pageMode=='VIEW'"
                            name="audit_name" class=" form-control" autocomplete="off" appNospaces>
                        </div>
                        @if(errorMsg['audit_name']!=''){
                        <small class="error">{{ errorMsg['audit_name']}}</small>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="flex flex-col gap-1">
                      <label for="category_type_id">Category</label>
                      <p-select id="category_type_id" [(ngModel)]="createAudit().category_type_id"
                        (onChange)="onGetErrorMsgs('category_type_id')" name="auditType"
                        [disabled]="pageMode=='VIEW'" [options]="auditCatList" [filter]="true"
                        [showClear]="true" class="form-control" />
                      @if(errorMsg['category_type_id']!=''){
                      <small class="error">{{ errorMsg['category_type_id']}}</small>
                      }
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="form-grup-row d-flex">
                      <div class="form-group mb-0">
                        <label>CAPA Required ?</label>
                        <div class="radio-group">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="agendaApproval" id="agenda-yes" value="Y"
                              [(ngModel)]="createAudit().capa_required" [disabled]="pageMode=='VIEW'" />
                            <label class="form-check-label" for="agenda-yes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="agendaApproval" id="agenda-no" value="N"
                              [(ngModel)]="createAudit().capa_required" [disabled]="pageMode=='VIEW'" />
                            <label class="form-check-label" for="agenda-no">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-0 ms-5">

                        <label>Status</label>
                        <div class="form-group">
                          <p-toggleswitch [(ngModel)]="createAudit().mandatory_flag" name="status"
                            [disabled]="pageMode=='VIEW' || pageMode=='NEW'" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row mt-5">
              <div class="col-lg-5 col-md-6 col-12">
                <div class="formbox-left legends form-lg">
                  <div class="form-title">Form Setup</div>
                  <form>
                    <div class="form-section mb-1">
                      <div class="row">
                        <div class="col-md-12 col-12">
                          <div class="form-group">
                            <div class="label-flex-link">
                              <label>Upload</label>
                              <a (click)="_hqms.onDownloadClick('sample_templates/audits_bulk_upload.xlsx')"
                                style="cursor: pointer;">
                                <!-- <span class="iconify"
                                  data-icon="material-symbols:download"></span>  -->
                                <i class="iconify pi pi-download"></i>
                                Template
                              </a>
                            </div>
                            <div class="upload-image">
                              <div class="row">
                                <div class="col-5">
                                  <p-fileUpload mode="basic"
                                    (onSelect)="onBulkUploadClick(preAssess, $event,'CoverPage',createAudit(),null)"
                                    [multiple]="false" #preAssess [fileLimit]="1" [maxFileSize]="2097152" [auto]="true"
                                    [disabled]="pageMode=='VIEW'" accept=".xlsx"
                                    invalidFileSizeMessageSummary="File too large" chooseIcon="pi pi-upload"
                                    chooseLabel="Bulk Upload" invalidFileSizeMessageDetail="Maximum upload size is 5MB">
                                  </p-fileUpload>
                                </div>
                                <div class="col-7">
                                  <div *ngIf="createAudit().section_documents.length>0"
                                    class="flex gap-2 flex-wrap mt-2">
                                    <div *ngFor="let mDoc of createAudit().section_documents; let imgIndex=index">
                                      <div *ngIf="mDoc.is_active==true" class="reg-img-view"
                                        style="border: 1px solid #cacaca;padding: 5px; border-radius: 7px;font-size: 11px;">
                                        {{ mDoc['file_name'] }}

                                        @if(pageMode == 'NEW' || pageMode == 'EDIT'){
                                        <a class="time-icons time-remove ml-2" href="javascript:return false"><i
                                            *ngIf="pageMode!='VIEW'||pageMode!='EDIT'" class="pi pi-times-circle"
                                            (click)="onBulkUploadRemoveClick(mDoc, imgIndex)"></i>
                                        </a>
                                        }
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-section mb-1">
                      <div class="row">
                        <div class="col-md-12 col-12">
                          <div class="form-group">

                            <div class="flex flex-col gap-1">
                              <label for="section_name">Add Section</label>
                              <input pInputText id="section_name" [(ngModel)]="secAdd().section_name"
                                [disabled]="pageMode=='VIEW'" name="section_name" class="form-control"
                                autocomplete="off" appNospaces>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 col-12">
                          <!-- <div class="form-group">
                            <hqms-textarea [formName]="FORM_NAME" [labelName]="'Description'"
                              [fieldName]="'section_description'" [rows]="111"
                              [(ngModel)]="secAdd().section_description" [isDisabled]="pageMode=='VIEW'"
                              name="section_description" (statusChange)="onFieldStatusChange($event)">
                            </hqms-textarea>

                          </div> -->
                          <div class="form-group">
                            <button class="btn btn-primary btn-big-icon btn-lg w-100" (click)="onSectionsAddClick()"
                              [disabled]="pageMode=='VIEW'|| [null,''].includes(secAdd().section_name)
                              ">
                              <!-- <span class="iconify" data-icon="basil:add-outline">
                              </span> -->
                              <i class="iconify pi pi-plus-circle">
                              </i>
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-section">
                      <div class="row">
                        <div class="col-md-12 col-12">
                          <div class="form-group">

                            <div class="flex flex-col gap-1">
                              <label for="question_text">Add Question</label>
                              <input pInputText id="question_text" [(ngModel)]="qstnsAdd().question_text"
                                [disabled]="pageMode=='VIEW'" name="question_text" class="form-control"
                                autocomplete="off" appNospaces>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-md-12 col-12">
                          <div class="form-group">
                            <hqms-textarea [formName]="FORM_NAME" [labelName]="'Description'"
                              [fieldName]="'question_description'" [rows]="111"
                              [(ngModel)]="qstnsAdd().question_description" [isDisabled]="pageMode=='VIEW'"
                              name="question_description" (statusChange)="onFieldStatusChange($event)">
                            </hqms-textarea>

                          </div>
                        </div> -->
                        <div class="col-md-12 col-12">
                          <div class="row">
                            <div class="col-6">
                              <div class="form-group mb-1">
                                <div class="form-check mb-0">
                                  <input class="form-check-input" type="checkbox" id="checkDefault"
                                    [(ngModel)]="qstnsAdd().is_mandatory" name="required" [disabled]=true
                                    [disabled]="pageMode=='VIEW'" />
                                  <label class="form-check-label" for="checkDefault">
                                    Mark as Required
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group mb-1">
                                <div class="form-check mb-0">
                                  <input class="form-check-input" type="checkbox" id="checkDefault"
                                    [(ngModel)]="qstnsAdd().is_not_applicable" name="required" [disabled]=true
                                    [disabled]="pageMode=='VIEW'" />
                                  <label class="form-check-label" for="checkDefault">
                                    NA Allowed
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <button class="btn btn-primary btn-big-icon btn-lg w-100" (click)="onQstnsAddClick()"
                              [disabled]="pageMode=='VIEW'|| [null,''].includes(qstnsAdd().question_text)
                              ">
                              <!-- <span class="iconify" data-icon="basil:add-outline"></span> -->
                              <i class="iconify pi pi-plus-circle">
                              </i>
                              Add
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-7 col-md-6 col-12">
                <div class="formbox-left legends form-lg">
                  <div class="form-title">Form Preview</div>
                  <form>
                    <div class="form-section">
                      <div class="audit-heading">
                        <h5>Audit Question</h5>
                        <p>{{ sctnsCnt}} Sections | {{ qstnCnt}} Questions
                        </p>
                      </div>
                      <div cdkDropList [cdkDropListData]="createAudit().sections"
                        (cdkDropListDropped)="dropSection($event)">
                        @for(sctns of createAudit().sections;track $index;let i = $index;){
                        @if(sctns.is_active !== false){
                        <div cdkDrag class="audit-table">
                          <div class="audit-heading mb-2">
                            @if(sctns.is_edit_click){
                            <textarea pTextarea [(ngModel)]="sctns.section_name" rows="10"
                              [disabled]="!sctns.is_edit_click" name="section_name_{{i}}"
                              class="form-control" appNospaces></textarea>
                            }@else{
                            <div class="head_flex">
                              <div class="s-flex">
                                <input class="form-check-input" type="checkbox" [id]="checkDefaul+i"
                                  [(ngModel)]="sctns.is_selected" name="required" [disabled]=true
                                  [disabled]="pageMode=='VIEW'" (change)="onSectionSelected($event, sctns)" />
                                <h5>{{sctns.section_name}}</h5>
                              </div>
                            </div>
                            }
                            @if(pageMode == 'NEW' || pageMode == 'EDIT'){
                            <div class="text-end">
                              <div class="action-edit">
                                <ul>
                                  <li>
                                    <a href="javascript:;" (click)="editSectn(sctns,i)">
                                      <!-- < span class="iconify" data-icon="ri:edit-line"></span> -->
                                      <i class="iconify pi pi-pencil" [class.editing]="sctns.is_edit_click"
                                        [class.edited]="!sctns.is_edit_click"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="javascript:;" (click)="trashSctn(sctns)">
                                      <!-- <span class="iconify" data-icon="material-symbols:delete-outline"></span> -->
                                      <i class="iconify pi pi-trash"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="javascript:;" cdkDragHandle>
                                      <!-- < span class="iconify" data-icon="ri:edit-line"></span> -->
                                      <i class="iconify pi pi-bars" pTooltip="Section Drag & Drop"
                                        tooltipPosition="left"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            }
                          </div>
                          <div class="table-audit table-responsive">
                            <table class="table table-bordered mb-0" cdkDropList [cdkDropListData]="sctns.questions"
                              (cdkDropListDropped)="dropQuestion($event,sctns)">
                              @for(qstns of sctns.questions;track $index;let qstnIn=$index){
                              @if(qstns.is_active!==false){
                              <tr cdkDrag [cdkDragData]="qstns">
                                <td>
                                  @if(qstns.is_edit_click){
                                  <textarea pTextarea [(ngModel)]="qstns.question_text" rows="10"
                                    [disabled]="!qstns.is_edit_click" name="question_text_{{i}}_{{qstnIn}}"
                                    class="form-control" appNospaces></textarea>
                                  }@else{
                                  {{qstns.question_text}}
                                  }
                                </td>
                                <td class="text-end">
                                  @if(pageMode == 'NEW' || pageMode == 'EDIT'){
                                  <div class="action-edit">
                                    <ul class="s-flex">
                                      <li>
                                        <a href="javascript:;" (click)="editQstn(sctns,qstns,qstnIn)">
                                          <!-- < span class="iconify" data-icon="ri:edit-line"></span> -->
                                          <i class="iconify pi pi-pencil" [class.editing]="qstns.is_edit_click"
                                            [class.edited]="!qstns.is_edit_click"></i>
                                        </a>
                                      </li>
                                      <li>
                                        <a href="javascript:;" (click)="trashQstn(sctns,qstns)">
                                          <!-- <span class="iconify" data-icon="material-symbols:delete-outline"></span> -->
                                          <i class="iconify pi pi-trash"></i>
                                        </a>
                                      </li>

                                      <li>
                                        <div class="s-flex" cdkDragHandle>
                                          <a href="javascript:;">
                                            <!-- < span class="iconify" data-icon="ri:edit-line"></span> -->
                                            <i class="iconify pi pi-bars" pTooltip="Question Drag & Drop"
                                              tooltipPosition="left"></i>
                                          </a>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                  }
                                </td>
                              </tr>
                              }
                              }
                            </table>
                          </div>
                        </div>
                        }
                        }
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .editing {
    color: yellow !important;
  }

  .edited {
    color: green !important;
  }

  .head_flex {
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }

  .s-flex {
    display: flex;
    gap: 3px;
    align-items: center;
  }

  .audit-table .audit-heading {
    margin-left: 0px;
  }

  .action-edit ul li:hover {
    padding: 0px 5px;
    background: #fff;
    border-radius: 6px;


  }

  .action-edit ul li {
    padding: 0px 5px;
    font-size: 16px;
    margin-right: 0px;
  }

  .pi {
    font-size: 11px;
  }
</style>