<section class="wrapper-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading-link">
                    <h3 class="main-heading">Help &amp; Support</h3>
                    <p>Need assistance? Find answers to common questions, get troubleshooting tips, or contact our support team.</p>
                </div>
            </div>
        </div>

        <div class="support-row">
            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="support-box">
                        <div class="support-image">
                            <img src="/assets/images/email.svg" alt="" title="" class="img-fluid" />
                        </div>
                        <div class="support-content">
                            <div class="icon">
                                <span class="iconify" data-icon="uiw:mail-o"></span>
                            </div>
                            <div class="right-content">
                                <p class="desc">Prefer email? Send your questions to the mail below. We are available 24/7</p>
                                <p class="text-blue email">support&#64;suvarnatechnosoft.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="support-box">
                        <div class="support-image">
                            <img src="/assets/images/phone.svg" alt="" title="" class="img-fluid" />
                        </div>
                        <div class="support-content">
                            <div class="icon">
                                <span class="iconify" data-icon="ic:baseline-phone"></span>
                            </div>
                            <div class="right-content">
                                <p class="desc">Need quick help? Contact our support team via phone 24x7. </p>
                                <p class="text-blue email"><span>Call us:</span> +91 9xxxxxxxx0</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="support-box box3">
                        <div class="support-image">
                            <img src="/assets/images/web.svg" alt="" title="" class="img-fluid" />
                        </div>
                        <div class="support-content">
                            <div class="icon">
                                <span class="iconify" data-icon="streamline:web-remix"></span>
                            </div>
                            <div class="right-content">
                                <p class="desc">Prefer email? Send your questions to the mail below. We are available 24/7</p>
                                <p class="text-blue email">support&#64;suvarnatechnosoft.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>