.cursor-pointer {
    cursor: pointer;
  }
  .incident-list ul {
    padding-left: 20px;
  }
.bg3{
  background-color: rgb(207, 70, 36)!important;
  .icon {
    color: rgb(212, 81, 48)!important;
}
}
.bg4{
  background-color: rgb(51, 141, 29)!important;
  .icon {
    color: rgb(24, 105, 3)!important;
}
}