<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                                    <h3>Discharge Feedback #7463736</h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-right">                                    
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Download <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>#78900346 </h5>
                                            <p>Rajesh Kumar</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-green">Submitted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit tablehrz">
                                <table class="table table-bordered table-line mb-0">
                                    <tr>
                                         <th>Department </th>
                                         <th>Suggestions</th>
                                         <th width="25%">Compliance</th>
                                         <th>Feedback Date & Time</th>                                     
                                    </tr>
                                    <tr>              
                                        <td>ICU</td>                           
                                        <td>Staff behavior could be better</td>
                                        <td>Staff behavior was unprofessional and made me uncomfortable.</td>
                                        <td>15-04-2025 11:30 AM</td>
                                     </tr>
                                 </table>
                            </div>
                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Feedback Questions</h5>
                                            <p>20 Questions</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Overall Score</p>
                                            <span class="badge-green">90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit-row">
                                <h5>Hospital Facilities & Environment</h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">How would you rate the cleanliness and hygiene of the ward/room during your stay? </td>
                                            <td class="text-center">3/5</td>
                                        </tr>
                                        <tr>
                                            <td>Were you given clear information about your treatment and tests by the staff? </td>
                                            <td class="text-center">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>How satisfied were you with the courtesy and responsiveness of the nursing staff? </td>
                                            <td class="text-center">Rarely</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>    

                            <div class="table-audit-row">
                                <h5>Communication & Information</h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">Were you adequately informed about your discharge process and medications? </td>
                                            <td class="text-center">3/5</td>
                                        </tr>
                                        <tr>
                                            <td>Did you feel your privacy and confidentiality were respected during treatment? </td>
                                            <td class="text-center">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Would you recommend this hospital to family or friends based on your experience? </td>
                                            <td class="text-center">Rarely</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="table-audit-row">
                                <h5>Staff Behavior & Courtesy</h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">How would you rate the cleanliness and hygiene of the ward/room during your stay?  </td>
                                            <td class="text-center">3/5</td>
                                        </tr>
                                        <tr>
                                            <td>Did you feel your privacy and confidentiality were respected during treatment? </td>
                                            <td class="text-center">Yes</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="audit-table">
                                <div class="audit-heading mb-2 ms-0">
                                    <h5>CAPA Review </h5>
                                    <p class="light-text">Written By Yashika (29387)</p>
                                </div>
                                <div class="table-audit table-responsive">
                                    <table class="table table-bordered mb-0">                                                        
                                        <tr>
                                            <td class="fw500">CAPA</td>
                                            <td>Lorem ipsum is a placeholder or dummy text used in typesetting and graphic design for previewing layouts.</td>
                                        </tr>
                                            <tr>
                                            <td class="fw500">Action Taken</td>
                                            <td>Lorem ipsum is a placeholder or dummy text used in typesetting and graphic design for previewing layouts.</td>
                                        </tr>
                                        <tr>
                                            <td class="fw500">Attached Documents</td>
                                            <td><a href="javascript:;" class="icon-text"><span class="iconify" data-icon="fluent:eye-32-filled"></span> View</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>