<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                                    <h3>Antibiotic Stewardship Program - Detail View  </h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-right">                                   
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Download Report <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Seetha Lakshmi - 38 / F </h5>
                                            <p>UHID: 2025-312441</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                         <th>Diagnosis</th>
                                         <th>Allergy</th>
                                         <th>Consultant</th>
                                         <th>Antibiotics Given</th>
                                         <th>Consultant’s Justification</th>
                                         <th>Status</th>
                                    </tr>
                                    <tr>
                                        <td>Leg Fracture - Accident</td>
                                        <td>-</td>
                                        <td>Rakesh Pariwar (32522)</td>
                                        <td>CARBAPENEM (0.25ml)</td>
                                        <td>Based on Culture report</td>
                                        <td class="text-success">Closed</td>
                                    </tr>
                                 </table>
                                 <p class="p-2"><strong>Others (if Any)</strong></p>
                            </div>
                        </div>

                        <div class="audit-info-cover auditcover3">
                            <div class="audit-status mb-2">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5 class="mb-0">ASP Physician Review</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-audit table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                         <th width="25%">Physician’s Justification</th>
                                         <td>Major Drug-Drug Interaction</td>
                                    </tr>   
                                    <tr>
                                         <th>Physician’s Recommendation</th>
                                         <td>Could use the alternate drug that contains “Methamphetamine” this will make the patient feel so drizzly</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="audit-info-cover auditcover3 p-0">
                                <div class="audit-status mb-1">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="left-content">
                                                <h5 class="mb-0">Consultant’s Revision</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-audit table-responsive mt-2">
                                    <table class="table table-bordered mb-0">
                                        <tr>
                                            <th width="25%">Consultant Status</th>
                                            <td class="text-danger">Rejected</td>
                                        </tr>   
                                        <tr>
                                            <th>Comments</th>
                                            <td>lorem ipsum dumym text</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="audit-info-cover auditcover3">
                            <div class="audit-status mb-2">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5 class="mb-0">2nd ASP Physician Review</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-audit table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                         <th width="25%">Physician’s Justification</th>
                                         <td>Major Drug-Drug Interaction</td>
                                    </tr>   
                                    <tr>
                                         <th>Physician’s Recommendation</th>
                                         <td>Could use the alternate drug that contains “Methamphetamine” this will make the patient feel so drizzly</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="audit-info-cover auditcover3 p-0">
                                <div class="audit-status mb-2">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="left-content">
                                                <h5 class="mb-0">2nd Consultant’s Revision</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-audit table-responsive mt-2">
                                    <table class="table table-bordered mb-0">
                                        <tr>
                                            <th width="25%">Consultant Status</th>
                                            <td class="text-success">Approved</td>
                                        </tr>   
                                        <tr>
                                            <th>Comments</th>
                                            <td>Lorem Ipsum is a Dummy text used to fil the placeholder</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>                            
                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Attached Documents</h5>
                                            <p>1 Document Found</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit tablehrz">
                                <table class="table table-bordered table-line mb-0">
                                    <thead>
                                        <tr>                                            
                                            <td>
                                                <a href="javascript:;" class="text-link">CultureReport138108.pdf</a>
                                                <a href="javascript:;" class="text-blue ms-4">                                         View
                                                </a>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <!-- Log Entries Section -->
                        <div class="audit-info-cover auditcover3">
                            <div class="audit-status mb-2">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5 class="mb-0">Log Entries</h5>
                                            <p class="text-muted mb-0 mt-1">2 Logs</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit table-responsive mt-2">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th>Revision No</th>
                                            <th>Happened On</th>
                                            <th>Status</th>
                                            <th>Attachment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>12-10-2025</td>
                                            <td>Under Review</td>
                                            <td>
                                                <a href="javascript:;" class="text-primary">
                                                    <span class="iconify" data-icon="mdi:eye-outline"></span> View
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>15-10-2025</td>
                                            <td>Closed</td>
                                            <td>
                                                <a href="javascript:;" class="text-primary">
                                                    <span class="iconify" data-icon="mdi:eye-outline"></span> View
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                                               
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>