<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <!-- <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span
                                                class="iconify" data-icon="famicons:arrow-back-outline"></span></a> -->
                                    <h3>Attendee Feedback</h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-right">
                                    @if( selectedTrainingInfo.is_fb_completed == false){
                                    @if(selectedTraining()!=null){
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <button type="button" class="btn btn-dark"
                                                (click)="onClearClick()">Clear</button>
                                            <button type="submit" class="btn btn-primary"
                                                (click)="onSubmitClick()">Submit</button>
                                        </div>
                                    </div>
                                    }
                                    }@else{
                                    <div class="right-content text-end">
                                        <span class="badge-green "> Completed</span>
                                    </div>
                                    }
                                    <!-- @if(false){
                                    <div class="form-right">
                                        <a href="javascript:;" class="icon-btn-square" (click)="filterToggle()"><span
                                                class="iconify" data-icon="mage:filter"></span></a>
                                        <div class="dropdown dropdown-style1 ms-2">
                                            <button class="btn btn-light dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Download Report <span class="iconify"
                                                    data-icon="akar-icons:chevron-down"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                                <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                                <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    } -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-4 col-12">
                                <div class="formbox-left legends form-lg">
                                    <div class="form-title">Training Details</div>
                                    <label for="selectedTraining">Training Name</label>
                                    <p-select id="selectedTraining" [ngModel]="selectedTraining()"
                                        (ngModelChange)="selectedTraining.set($event)"
                                        (onChange)="onTrainingSelect($event.value)" name="selectedTraining"
                                        [options]="trainingList" [filter]="true" class="form-control" />
                                    <div class="form-section mb-1">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="mode_of_training_name">Mode of training :-</label>
                                                    <div>
                                                        {{selectedTrainingInfo.mode_of_training_name }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="faculty_name">Faculty :-</label>
                                                    <div>
                                                        {{selectedTrainingInfo.faculty_name }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="designation_name">Faculty Designation :-</label>
                                                    <div>
                                                        {{selectedTrainingInfo.designation_name }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="description">Description :-</label>
                                                    <div>
                                                        {{selectedTrainingInfo.description }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-12">
                                <div class="formbox-left legends form-lg">
                                    <div class="form-title">
                                        <label>Feedback</label>
                                    </div>
                                    @for(fdbk of selectedTrainingInfo.feedback_question;track $index; let
                                    feedBckIn=$index){
                                    <div class="form-section mb-1">
                                        <div>
                                            {{fdbk.question_text}}
                                        </div>
                                        @if(fdbk.question_type == 'FREE_TEXT'){
                                        <div>
                                            <textarea pTextarea [(ngModel)]="fdbk.is_response" rows="10"
                                                [disabled]="selectedTrainingInfo.is_fb_completed"
                                                name="is_response_{{feedBckIn}}" class="form-control"></textarea>
                                        </div>
                                        }@else{
                                        <div>
                                            <div class="radio-group mb-2">
                                                @for (asLst of fdbk.options_json; track $index;let opIndx = $index) {
                                                <p-radioButton [name]="asLst" [value]="asLst"
                                                    [(ngModel)]='fdbk.is_response' [inputId]="'ing1'+opIndx"
                                                    [disabled]="selectedTrainingInfo.is_fb_completed"
                                                    style="margin:5px;" />
                                                <label [for]="'ing1'+opIndx">{{ asLst }}</label>
                                                }
                                            </div>
                                        </div>
                                        }
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>