<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                                    <h3>Antibiotic Stewardship Program - Review  </h3>
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Seetha Lakshmi - 38 / F </h5>
                                            <p>UHID: 2025-312441</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                         <th>Diagnosis</th>
                                         <th>Allergy</th>
                                         <th>Consultant</th>
                                         <th>Antibiotics Given</th>
                                         <th>Consultant’s Justification</th>
                                         <th>Status</th>
                                    </tr>
                                    <tr>
                                        <td>Leg Fracture - Accident</td>
                                        <td>-</td>
                                        <td>Rakesh Pariwar (32522)</td>
                                        <td>CARBAPENEM (0.25ml)</td>
                                        <td>Based on Culture report</td>
                                        <td class="text-warning">Pending</td>
                                    </tr>
                                 </table>
                                 <p class="p-2"><strong>Others (if Any)</strong></p>
                            </div>
                        </div>

                        <div class="audit-info-cover auditcover3">
                            <div class="audit-statu mb-1">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5 class="mb-0">ASP Physician Review</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-audit table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                         <th width="25%">Physician’s Justification</th>
                                         <td>Major Drug-Drug Interaction</td>
                                    </tr>   
                                    <tr>
                                         <th>Physician’s Recommendation</th>
                                         <td>Could use the alternate drug that contains “Methamphetamine” this will make the patient feel so drizzly</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="audit-info-cover auditcover3 p-0">
                                <div class="audit-status mb-1">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="left-content">
                                                <h5 class="mb-0">Consultant’s Revision</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-audit table-responsive mt-2">
                                    <table class="table table-bordered mb-0">
                                        <tr>
                                            <th width="25%">Consultant Status</th>
                                            <td class="text-danger">Rejected</td>
                                        </tr>   
                                        <tr>
                                            <th>Comments</th>
                                            <td>lorem ipsum dumym text</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                       <div class="row">
                            <div class="col-lg-6 col-md-12">
                                 <div class="formbox-left legends legend2 form-lg">
                                    <div class="form-title">
                                        ASP Physician Review
                                    </div>
                                    <form>                                        
                                        <div class="row">                                            
                                            <div class="col-md-12">
                                            <div class="radio-group">
                                                <p>Do you accept the consultant’s justification?</p>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                                    <label class="form-check-label" for="inlineRadio4">Yes</label>
                                                </div>
                                                    <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                                                    <label class="form-check-label" for="inlineRadio5">No</label>
                                                    </div>
                                                </div>
                                            </div>      
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <div class="label-row">
                                                        <label>Physicians Justification <b class="star">*</b></label>                                                         
                                                    </div>
                                                    <select class="form-select">
                                                        <option>Absence of relevant Culture</option>
                                                        <option>No evidence of Sepsis/Infection</option>
                                                        <option>Viral infection</option>
                                                        <option>Non Infectious cause</option>
                                                        <option>Colonisation</option>
                                                        <option>Inconsistent with Culture report</option>
                                                        <option>Inappropriate Choice</option>
                                                        <option>Inappropriate Dose</option>
                                                    </select>
                                                </div>
                                            </div>    
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <div class="label-row">
                                                        <label>Physician’s Recommendation <b class="star">*</b></label> 
                                                        <div class="indicident-action">
                                                            <ul>
                                                                <li><a href="javascript:;"><span class="iconify" data-icon="lets-icons:save"></span></a></li>
                                                                <li><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#incident-reason-modal"><span class="iconify" data-icon="gg:add"></span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </div>

                                                <div class="button-group mt-4">
                                                    <div class="row">
                                                        <div class="col-md-12 col-12">
                                                            <button class="btn btn-dark">Clear</button>
                                                            <button class="btn btn-primary" routerLink="/antibiotic-stewardship-review-under-review">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>                                   
                                        </div>
                                    </form>
                                </div>                                       
                                
                            </div>
                       </div>
                                               
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>