<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                                    <h3>Hand Hygiene Audits #7463736</h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-right">                                    
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Download <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Hand Hygiene Audit</h5>
                                            <p>Last Updated On <strong>March 27, 2025 16:30</strong></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-green">Submitted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit">
                                <table class="table table-bordered">
                                    <tr>
                                         <th width="30%">Audit ID</th>
                                         <td>#HH2703001</td>
                                    </tr>
                                    <tr>
                                         <th>Department/Location</th>
                                         <td>BLOOD BANK</td>
                                     </tr>
                                     <tr>
                                         <th>Auditee & Staff Category</th>
                                         <td>Mr. Arjun Kumar - Nurse</td>
                                     </tr>
                                     <tr>
                                         <th>Auditor</th>
                                         <td>Mr. Mukesh Kumar  - Auditor</td>
                                     </tr>
                                 </table>
                            </div>
                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Hand Hygiene Facilities</h5>
                                            <p>10 Questions</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Compliance</p>
                                            <span class="badge-green">90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit">
                                <table class="table table-bordered">
                                    <tr>
                                         <td width="90%">Are handwashing stations available in all required locations?</td>
                                         <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                    <tr>
                                        <td>Are handwashing stations equipped with clean running water?</td>
                                        <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                    <tr>
                                        <td>Is soap or an appropriate handwashing agent available at each station?</td>
                                        <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                    <tr>
                                        <td>Is hand sanitizer with at least 60% alcohol available near stations?</td>
                                        <td><span class="text-danger">No</span></td>
                                    </tr>
                                    <tr>
                                        <td>Are paper towels or hand dryers functional at all stations?</td>
                                        <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                    <tr>
                                        <td>Are “Handwashing Instructions” or posters displayed near stations?</td>
                                        <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                    <tr>
                                        <td>Any obstructions preventing access to handwashing stations?</td>
                                        <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                    <tr>
                                        <td>Are employees performing hand hygiene before starting their shift?</td>
                                        <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                    <tr>
                                        <td>Do employees wash their hands after using the restroom?</td>
                                        <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                    <tr>
                                        <td>Are employees practicing hand hygiene before handling food or equipment?</td>
                                        <td class="text-cneter"><span class="text-success">Yes</span></td>
                                    </tr>
                                 </table>
                            </div>
                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Photo Evidence</h5>
                                            <p>2 evidences found</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-grid">
                                <div class="grid-photo">
                                  <a href="/assets/images/photo1.jpg" data-fancybox="gallery">
                                    <img src="/assets/images/incident2.jpg" alt="Incident 2" />
                                  </a>
                                </div>
                                <div class="grid-photo">
                                  <a href="/assets/images/photo2.jpg" data-fancybox="gallery">
                                    <img src="/assets/images/incident1.jpg" alt="Incident 1" />
                                  </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>