<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()">
                                        <i class="iconify pi pi-arrow-left"></i>
                                    </a>
                                    <h3>IPSG #98489789</h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                @if(false){
                                <div class="form-right">
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Download <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                                }
                                <div class="form-right">
                                    <button type="button" class="btn btn-dark">Clear</button>
                                    <button type="button" class="btn btn-primary"
                                        routerLink="/ipsg-capa-review">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>IPSG Measures </h5>
                                            <p>Last Updated On <strong>March 27, 2025 16:30</strong></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-green">Submitted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit tablehrz">
                                <table class="table table-bordered table-line">
                                    <tr>
                                        <th>Department/Location </th>
                                        <th>Role</th>
                                        <th>Auditor</th>
                                        <th>Completed Goal</th>
                                        <th>Audit Date & Time</th>
                                    </tr>
                                    <tr>
                                        <td>BLOOD BANK</td>
                                        <td>Admin</td>
                                        <td>Mr. Mukesh Kumar</td>
                                        <td>6 </td>
                                        <td>07-04-2025 12:33:00</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>IPSG Measures Summary</h5>
                                            <p>10 Questions</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Compliance</p>
                                            <span class="badge-green">90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit-row">
                                <h5>IPSG 1 – Identify Patients Correctly</h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">Was the patient's identity verified using two identifiers
                                                before administering medication? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Were patient ID bands checked before any procedure or diagnostic tests?
                                            </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Were all required initial assessments (vital signs, lab tests, imaging)
                                                completed on time?</td>
                                            <td class="text-center text-danger">No</td>
                                        </tr>
                                        <tr class="remarks-td">
                                            <td colspan="2">
                                                <div class="capa-review pt-0">
                                                    <div class="capa-list">
                                                        <ul>
                                                            <li><span class="iconify"
                                                                    data-icon="streamline-ultimate:paper-write"></span>
                                                                Were all required initial assessments (vital signs, lab
                                                                tests, imaging) completed on time?</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="table-audit-row">
                                <h5>IPSG 2 – Improve Effective Communication</h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">Was the critical test result communicated within 1 hour to
                                                the treating physician? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Was a read-back protocol followed for verbal/telephone orders? </td>
                                            <td class="text-center text-danger">No</td>
                                        </tr>
                                        <tr class="remarks-td">
                                            <td colspan="2">
                                                <div class="capa-review pt-0">
                                                    <div class="capa-list">
                                                        <ul>
                                                            <li><span class="iconify"
                                                                    data-icon="streamline-ultimate:paper-write"></span>
                                                                Were all required initial assessments (vital signs, lab
                                                                tests, imaging) completed on time?</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="table-audit-row">
                                <h5>IPSG 3: Improve Safety of High-Alert Medications </h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">Are high-alert medications stored separately with clear
                                                labeling? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Was a double-check done before administering high-alert drugs like
                                                insulin or chemotherapy? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="table-audit-row">
                                <h5>IPSG 4: Ensure Correct-Site, Correct-Procedure, Correct-Patient Surgery </h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">Was site marking done before surgical procedure? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Was a "Time-Out" conducted before incision to confirm patient,
                                                procedure, and site? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="table-audit-row">
                                <h5>IPSG 5: Reduce Risk of Health Care-Associated Infections </h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">Were WHO’s 5 Moments of Hand Hygiene followed during patient
                                                care? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Was the sterilization status of surgical instruments verified before
                                                use? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="table-audit-row">
                                <h5>IPSG 6: Reduce Risk of Patient Harm Resulting from Falls </h5>
                                <div class="table-audit">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="90%">Was a fall risk assessment performed on patient admission?
                                            </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Were fall prevention measures like side rails, slip-resistant flooring,
                                                and call bells in place? </td>
                                            <td class="text-center text-success">Yes</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="audit-info-cover table-audit">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Photo Evidence</h5>
                                            <p>2 evidences found</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-grid">
                                <div class="grid-photo">
                                    <a href="/assets/images/photo1.jpg" data-fancybox="gallery">
                                        <img src="/assets/images/incident2.jpg" alt="Incident 2" />
                                    </a>
                                </div>
                                <div class="grid-photo">
                                    <a href="/assets/images/photo2.jpg" data-fancybox="gallery">
                                        <img src="/assets/images/incident1.jpg" alt="Incident 1" />
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-lg mt-3">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label>Write CAPA <b class="star">*</b></label>
                                        <textarea class="form-control" rows="2"
                                            placeholder="Minimum 120 characters"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label>Action Taken <b class="star">*</b></label>
                                        <textarea class="form-control" rows="2"
                                            placeholder="Minimum 120 characters"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label>Supporting Documents or Evidence.</label>
                                        <div class="upload-image">
                                            <button class="btn btn-primary"><span class="iconify"
                                                    data-icon="material-symbols:upload-rounded"></span> Upload Documents
                                                / Evidence</button>
                                            <div class="upload-fileinfo">
                                                <p>Evidence743677547.pdf </p>
                                                <a href="javascript:;">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>