<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                                    <h3>New Compliance Register</h3>
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="formbox-left form-lg">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <label>Compliance Title (Document Title)</label>
                                                    <input class="form-control" placeholder="Enter Compliance Title" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <label>Issuing Authority</label>
                                                    <input class="form-control" placeholder="Enter Issuing Authority" />
                                                </div>
                                            </div>                                            
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <label>Department</label>
                                                    <select class="form-select">
                                                        <option>ICU</option>
                                                        <option>Laboratory</option>
                                                        <option>Causality</option>
                                                        <option>Emergency</option>
                                                        <option>Radiology</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group mb-0">
                                                    <label>Supporting Documents or Evidence.</label>
                                                    <div class="upload-image">
                                                        <button class="btn btn-primary"><span class="iconify" data-icon="material-symbols:upload-rounded"></span> Upload Documents / Evidence</button>
                                                        <div class="upload-fileinfo">
                                                            <p>Fire_Safety743677547.pdf </p>
                                                            <a href="javascript:;">Remove</a>
                                                        </div>
                                                        <!-- <div class="upload-fileinfo">
                                                            <p>Fire_Safety743677500.pdf </p>
                                                            <a href="javascript:;">Remove</a>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>   
                                        </div>
                                    </form>
                                </div>

                                <div class="button-group mt-4">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <button class="btn btn-dark">Clear</button>
                                            <button class="btn btn-primary" routerLink="/compliance-dashboard">Submit</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>