<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                                    <h3>Compliance ID #4564365 </h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-right">                                    
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Download <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Compliance Document Details </h5>
                                            <p>Last Updated On <strong>March 27, 2025 16:30</strong></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-red">Expired</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit table-responsive">
                                <table class="table table-bordered table-line">
                                    <tr>
                                         <th width="30%">Compliance Name</th>
                                         <th>Provider</th>
                                         <th>Department</th>
                                         <th>Created on</th>
                                         <th>Last Modified</th>
                                    </tr>
                                    <tr> 
                                         <td>HIPAA</td>
                                         <td>Suvarna Technosoft</td>
                                         <td>Nursing</td>
                                         <td>15-04-2025 12:00:00</td>
                                         <td>15-04-2025 12:00:00</td>
                                     </tr>
                                 </table>
                            </div>
                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Attached Documents</h5>
                                            <p>1 Documents found</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-audit-row">
                                <div class="table-audit">
                                    <table class="table table-bordered mb-0">
                                        <tr>
                                            <td colspan="2">
                                                <p class="document-name">FireSafety_License_20256546.pdf <a href="javascript:;" class="link-blue ms-2">View</a></p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>