<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()">
                                        <i class="iconify pi pi-arrow-left"></i>
                                    </a>
                                    <h3>Tasks & Assignments Detail</h3>
                                </div>
                            </div>
                            @if(false){
                            <div class="col-md-5 col-12">
                                <div class="form-right">
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Download
                                            <i class="iconify pi pi-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download PDF</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status centerFlex">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Task Summary</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            @if(readOnlyTaskAssign().status === 'Active'){
                                            <span class="badge-green">{{readOnlyTaskAssign().status}}</span>
                                            }
                                            @else{
                                            <span class="badge-red">{{readOnlyTaskAssign().status}}</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit">
                                <table class="table table-bordered">
                                    <tr>
                                        <th width="30%">Task Name</th>
                                        <td>{{readOnlyTaskAssign().task_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Assigned To</th>
                                        <td>{{readOnlyTaskAssign().assigned_to}}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td>{{readOnlyTaskAssign().role}}</td>
                                    </tr>
                                    <tr>
                                        <th>Created On</th>
                                        <td>{{readOnlyTaskAssign().created_at}}</td>
                                    </tr>
                                    <tr>
                                        <th>Task Description</th>
                                        <td>{{readOnlyTaskAssign().task_description}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="audit-info-cover">
                            <!-- <div class="table-audit">
                                <table class="table table-bordered">
                                    <tr>
                                        <th width="30%">Action Taken</th>
                                        <td>{{readOnlyTaskAssign().action_taken}}</td>
                                    </tr>
                                </table>
                            </div> -->
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="left-content">
                                            <h5>Supporting Documents / Evidence </h5>
                                            <p>{{readOnlyTaskAssign().supporting_documents.length}} evidences found</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-grid">
                                <div class="grid-photo">
                                    @for(lf of readOnlyTaskAssign().supporting_documents;track $index){
                                    <td colspan="2">
                                        <p class="document-name">{{lf.file_name}}
                                            @if(pageMode!='NEW'){
                                            <a class="link-blue ms-2" style="cursor: pointer"
                                                (click)="onViewClick(lf)">View</a>
                                            }
                                        </p>
                                    </td>
                                    }@empty{
                                    <td colspan="2">No data found</td>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>