<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()">
                                        <i class="iconify pi pi-arrow-left"></i>
                                    </a>
                                    <h3>Compliant ID / Code</h3>
                                </div>
                            </div>
                            <!-- <div class="col-md-5 col-12">
                                <div class="form-right">
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Download <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Complaint Raised By Mangapathi</h5>
                                            <p>Last Updated On March 27, 2025 16:30</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-green">Investigation</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                        <th width="30%">Employee ID</th>
                                        <td>#32534743568</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td>Nurse</td>
                                    </tr>
                                    <tr>
                                        <th>Type of Compliant</th>
                                        <td>Rude Behavior</td>
                                    </tr>
                                    <tr>
                                        <th>Compliant Description</th>
                                        <td>Lorem ipsum is a placeholder or dummy text used in typesetting and graphic
                                            design for previewing layouts.</td>
                                    </tr>
                                    <tr>
                                        <th>Happened On</th>
                                        <td>15-04-2025</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="audit-info-cover">
                                                <div class="audit-status">
                                                    <div class="row">
                                                        <div class="col-md-12 col-12">
                                                            <div class="left-content">
                                                                <h5>Photo Evidence</h5>
                                                                <p>2 evidences found</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gallery-grid">
                                                    <div class="grid-photo">
                                                        <a href="/assets/images/photo1.jpg" data-fancybox="gallery">
                                                            <img src="/assets/images/incident2.jpg" alt="Incident 2" />
                                                        </a>
                                                    </div>
                                                    <div class="grid-photo">
                                                        <a href="/assets/images/photo2.jpg" data-fancybox="gallery">
                                                            <img src="/assets/images/incident1.jpg" alt="Incident 1" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                         <th>Action taken</th>
                                         <td>Lorem ipsum is a placeholder or dummy text used in typesetting and graphic design for previewing layouts.</td>
                                     </tr> -->
                                </table>

                            </div>

                        </div>

                        <div class="table-audit form-lg borderBox">
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label>Write CAPA</label>
                                        <textarea class="form-control" rows="4"
                                            placeholder="Minimum 120 characters"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label>Action Taken</label>
                                        <textarea class="form-control" rows="4"
                                            placeholder="Minimum 120 characters"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label>Supporting Documents or Evidence.</label>
                                        <div class="upload-image">
                                            <button class="btn btn-primary"><span class="iconify"
                                                    data-icon="material-symbols:upload-rounded"></span> Upload Documents
                                                / Evidence</button>
                                            <div class="upload-fileinfo">
                                                <p>Evidence743677547.pdf </p>
                                                <a href="javascript:;">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="button-group mt-4">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <button class="btn btn-dark">Clear</button>
                                    <button class="btn btn-primary" routerLink="/grievance-details-capa">Submit</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>