<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><i
                                            class="iconify pi pi-arrow-left"></i></a>
                                    <h3>Daily Feedback #7463736</h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                @if(false)
                                {
                                <div class="form-right">
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Download <i class="iconify pi pi-download"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Patient Feedback Summary</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-green">Submitted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit">
                                <table class="table table-bordered">
                                    <tr>
                                        <th width="30%">Patient Name</th>
                                        <td>Rajesh Kumar</td>
                                    </tr>
                                    <tr>
                                        <th>UHID</th>
                                        <td>#78900346</td>
                                    </tr>
                                    <tr>
                                        <th>Department</th>
                                        <td>Housekeeping</td>
                                    </tr>
                                    <tr>
                                        <th>Issue</th>
                                        <td>Unclean Rooms</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>Bed not changed after patient discharge.</td>
                                    </tr>
                                    <tr>
                                        <th>Feedback Date & Time</th>
                                        <td>15-04-2025 11:30 AM</td>
                                    </tr>
                                </table>
                            </div>


                            <div class="audit-table">
                                <div class="audit-heading mb-2 ms-0">
                                    <h5>CAPA Review </h5>
                                    <p class="light-text">Written By Yashika (29387)</p>
                                </div>
                                <div class="table-audit table-responsive">
                                    <table class="table table-bordered mb-0">
                                        <tr>
                                            <td class="fw500">CAPA</td>
                                            <td>Lorem ipsum is a placeholder or dummy text used in typesetting and
                                                graphic design for previewing layouts.</td>
                                        </tr>
                                        <tr>
                                            <td class="fw500">Action Taken</td>
                                            <td>Lorem ipsum is a placeholder or dummy text used in typesetting and
                                                graphic design for previewing layouts.</td>
                                        </tr>
                                        <tr>
                                            <td class="fw500">Attached Documents</td>
                                            <td><a href="javascript:;" class="icon-text"><span class="iconify"
                                                        data-icon="fluent:eye-32-filled"></span> View</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>