<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                                    <h3>Out - Patient Feedback #7463736</h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-right">                                    
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Download <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                          <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="card-body">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>#78900346 </h5>
                                            <p>Rajesh Kumar</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-green">Submitted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit tablehrz">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                         <th>UHID / Patient ID </th>
                                         <th>Department </th>
                                         <th>Diagnosed Doctor </th>
                                         <th width="20%">Suggestions</th>
                                         <th width="20%">Complaints</th>
                                         <th>Feedback Date & Time</th>
                                    </tr>
                                    <tr>                                         
                                         <td>#7463709</td>
                                         <td>Orthology</td>
                                         <td>Dr. Murali</td>
                                         <td>Staff behavior could be better</td>
                                         <td>Staff behavior was unprofessional and made me uncomfortable.</td>
                                         <td>15-04-2025 11:30 AM</td>
                                    </tr>
                                 </table>
                            </div>
                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Feedback Questions</h5>
                                            <p>20 Questions</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Overall Score</p>
                                            <span class="badge-green">90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit">
                                <table class="table table-bordered">
                                    <tr>
                                         <td width="90%">How satisfied were you with the ease of getting an appointment?</td>
                                         <td class="text-center">3/5</td>
                                    </tr>
                                    <tr>
                                        <td>How would you rate the professionalism and courtesy of the front desk staff?</td>
                                        <td class="text-center">3/5</td>
                                    </tr>
                                    <tr>
                                        <td>Were your concerns and symptoms listened to carefully by the doctor during consultation?</td>
                                        <td class="text-center">3/5</td>
                                    </tr>
                                    <tr>
                                        <td>Was your waiting time to see the doctor acceptable?</td>
                                        <td class="text-center">3/5</td>
                                    </tr>
                                    <tr>
                                        <td>Were you clearly informed about your treatment plan, medications, and follow-up?</td>
                                        <td class="text-center">3/5</td>
                                    </tr>
                                    <tr>
                                        <td>Would you recommend this hospital to others for outpatient care?</td>
                                        <td class="text-center">3/5</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end"><strong>Score Values</strong></td>
                                        <td class="text-center">863</td>
                                    </tr>
                                    <tr>
                                        <td class="text-end"><strong>Total Score</strong></td>
                                        <td class="text-center">86.3%</td>
                                    </tr>
                                 </table>
                            </div>

                            <!-- <div class="table-audit">
                                <table class="table table-bordered">
                                    <tr>
                                         <td width="30%">Action Taken</td>
                                         <td class="text-center">Lorem ipsum is a placeholder or dummy text used in typesetting and graphic design for previewing layouts.</td>
                                    </tr>
                                 </table>
                            </div> -->

                            <div class="audit-table">
                                <div class="audit-heading mb-2 ms-0">
                                    <h5>CAPA Review </h5>
                                    <p class="light-text">Written By Yashika (29387)</p>
                                </div>
                                <div class="table-audit table-responsive">
                                    <table class="table table-bordered mb-0">                                                        
                                        <tr>
                                            <td class="fw500">CAPA</td>
                                            <td>Lorem ipsum is a placeholder or dummy text used in typesetting and graphic design for previewing layouts.</td>
                                        </tr>
                                            <tr>
                                            <td class="fw500">Action Taken</td>
                                            <td>Lorem ipsum is a placeholder or dummy text used in typesetting and graphic design for previewing layouts.</td>
                                        </tr>
                                        <tr>
                                            <td class="fw500">Attached Documents</td>
                                            <td><a href="javascript:;" class="icon-text"><span class="iconify" data-icon="fluent:eye-32-filled"></span> View</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>