<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()">
                                        <span class="iconify" data-icon="famicons:arrow-back-outline"></span>
                                    </a>
                                    <h3>Doctor’s Individual Report</h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-right">
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Download Report <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="javascript:;">Download PDF</a></li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                    <!-- <p class="subdescGray">This report evaluates a doctor’s clinical performance, patient safety, and quality compliance to support ongoing professional development.</p> -->

                    <div class="card-body radius-4">   
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="audit-info-cover">
                                    <div class="table-audit table-responsive2">
                                        <table class="table table-bordered mb-0"> 
                                            <tr>
                                                <th>Doctor Name</th>
                                                <th>Department</th>
                                                <th>Specialization</th>
                                                <th>Years of Practice</th>
                                            </tr>
                                            <tr>
                                                <td>Yashna (41633)</td>
                                                <td>Pediatric</td>
                                                <td>Child Specialist</td>
                                                <td>6+ Years</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>   
        
                                <div class="audit-info-cover">
                                    <div class="table-audit table-responsive2 mb-3">      
                                        <table class="table table-bordered mb-0 table-counting">                                    
                                            <tr>
                                                <td width="25%">
                                                    <div class="status-tooltip oppe-counter">
                                                        <div class="info-icon tooltip-statusth">
                                                         <span class="info-label">Consultation Count</span>
                                                            <div class="tooltipbox">
                                                                <span class="iconify icon" data-icon="material-symbols:info-rounded"></span>
                                                                    <div class="status-tooltip-default">
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nihil laboriosam! Vero similique molestias.</p>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                         <h5 class="text-primary">845</h5>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="status-tooltip oppe-counter">
                                                        <div class="info-icon tooltip-statusth">
                                                         <span class="info-label">Incident Reports Count</span>
                                                            <div class="tooltipbox">
                                                                <span class="iconify icon" data-icon="material-symbols:info-rounded"></span>
                                                                    <div class="status-tooltip-default">
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nihil laboriosam! Vero similique molestias.</p>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                         <h5 class="text-primary">242</h5>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="status-tooltip oppe-counter">
                                                        <div class="info-icon tooltip-statusth">
                                                         <span class="info-label">Prescription Error %</span>
                                                            <div class="tooltipbox">
                                                                <span class="iconify icon" data-icon="material-symbols:info-rounded"></span>
                                                                    <div class="status-tooltip-default">
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nihil laboriosam! Vero similique molestias.</p>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                         <h5 class="text-success">20%</h5>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="status-tooltip oppe-counter">
                                                        <div class="info-icon tooltip-statusth">
                                                         <span class="info-label">Medication Error %</span>
                                                            <div class="tooltipbox">
                                                                <span class="iconify icon" data-icon="material-symbols:info-rounded"></span>
                                                                    <div class="status-tooltip-default">
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nihil laboriosam! Vero similique molestias.</p>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                         <h5 class="text-success">16%</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                         </table>
                                    </div>

                                    <div class="table-audit table-responsive2 mb-0">
                                        <table class="table table-bordered mb-0 table-counting">                                    
                                            <tr>
                                                <td width="25%">
                                                    <div class="status-tooltip oppe-counter">
                                                        <div class="info-icon tooltip-statusth">
                                                         <span class="info-label">Hand Hygiene Compliance %</span>
                                                            <div class="tooltipbox">
                                                                <span class="iconify icon" data-icon="material-symbols:info-rounded"></span>
                                                                    <div class="status-tooltip-default">
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nihil laboriosam! Vero similique molestias.</p>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                         <h5 class="text-success">80%</h5>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="status-tooltip oppe-counter">
                                                        <div class="info-icon tooltip-statusth">
                                                         <span class="info-label">SSI Rate %
                                                        </span>
                                                            <div class="tooltipbox">
                                                                <span class="iconify icon" data-icon="material-symbols:info-rounded"></span>
                                                                    <div class="status-tooltip-default">
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nihil laboriosam! Vero similique molestias.</p>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                         <h5 class="text-warning">50%</h5>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="status-tooltip oppe-counter">
                                                        <div class="info-icon tooltip-statusth">
                                                         <span class="info-label">Documentation Compliance %</span>
                                                            <div class="tooltipbox">
                                                                <span class="iconify icon" data-icon="material-symbols:info-rounded"></span>
                                                                    <div class="status-tooltip-default">
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nihil laboriosam! Vero similique molestias.</p>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                         <h5 class="text-success">74%</h5>
                                                    </div>
                                                </td>
                                                <td width="25%">
                                                    <div class="status-tooltip oppe-counter">
                                                        <div class="info-icon tooltip-statusth">
                                                         <span class="info-label">Consent Form Adherence %</span>
                                                            <div class="tooltipbox">
                                                                <span class="iconify icon" data-icon="material-symbols:info-rounded"></span>
                                                                    <div class="status-tooltip-default">
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nihil laboriosam! Vero similique molestias.</p>
                                                                    </div>
                                                            </div>
                                                         </div>
                                                         <h5 class="text-danger">30%</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                         </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4 col-12">                                
                <div class="card-style1 piechart overallperfchart">               
                    <div class="card-header">
                        <h5>Overall Performance - Narayanan (98342)</h5>
                    </div>           
                    <div class="card-body">
                        <app-oppe-performance-reports></app-oppe-performance-reports>    
                    </div>       
                </div>
            </div>
            <div class="col-md-4 col-12">                                
                <div class="card-style1 piechart">               
                    <div class="card-header">
                        <h5>Performance Over Years</h5>
                    </div>           
                    <div class="card-body">
                        <app-performance-over-years></app-performance-over-years>
                    </div>       
                </div>
            </div>
            <div class="col-md-4 col-12">                                
                <div class="card-style1 piechart">               
                    <div class="card-header">
                        <h5>Comparison Report </h5>
                    </div>           
                    <div class="card-body">
                        <app-comparison-reports></app-comparison-reports>
                    </div>       
                </div>
            </div>
        </div>

    </div>
</section>