.report-piechart {
    position: relative;
}

.center-content {
    position: absolute;
    top: 32%;
    left: 39%;
    p {
        font-size: 14px;
        margin: 0 0 5px;
    }
    h5 {
        font-size: 18px;
        margin: 0;
    }
}
