
@use '../../../variables';

footer {
    padding: 15px;
    text-align: center;
    background: variables.$textWhite;
    p {
        font-size: 14px;
        color: variables.$textBlackPrimary;
        margin: 0;
    }
}