<section class="wrapper-body">
  <div class="container-fluid page-height">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="card-style2">
          <div class="card-header backoption">
            <div class="row">
              <div class="col-md-7 col-12">
                <div class="heading-left">
                  <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                  <h3>Incidents History</h3>
                </div>
              </div>
              <div class="col-md-5 col-12">
                <div class="form-right">
                  <a href="javascript:;" class="icon-btn-square" (click)="filterToggle()"><span class="iconify" data-icon="mage:filter"></span></a>
                  <div class="dropdown dropdown-style1 ms-2">
                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Download Report <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                      <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                      <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          @if (showFilter) {
            <div class="filter-box form-sm">
              <div class="row">
                <div class="col-md-11 col-12">
                  <div class="row gx-2">
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <input class="form-control" placeholder="Incident ID" />
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>Happened To</option>
                          <option>Patient</option>
                          <option>Attender</option>
                          <option>Staff</option>
                          <option>Visitor</option>
                          <option>Pediatrics</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>Location</option>
                          <option>ICU-2nd Floor</option>
                          <option>Blood Bank-1st Floor</option>
                          <option>Bill Counter</option>
                          <option>Entrance Gate-1</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>Reported By</option>
                          <option>Anita Christina(3422)</option>
                          <option>Sivaraman Krishnan(3422)</option>
                          <option>Abinaya(3422)</option>
                          <option>Ramesh Kumar(3422)</option>
                          <option>Anita Christina(3422)</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>Investigation Officer</option>
                          <option>Mr. Arjun Kumar</option>
                          <option>HOD, Mr. Mukesh Kumar </option>
                          <option>Doctor, Mr. Suresh Kumar - Nurse</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>Choose Status</option>
                          <option>Opened</option>
                          <option>Assigned To </option>
                          <option>Investigation</option>
                          <option>Closed</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-12 ps-0">
                  <button class="btn btn-primary w-100">Filter</button>
                </div>
              </div>
            </div>
          }

          <div class="card-body table-style1 table-responsive radius-4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col" sortable="auditID" (sort)="onSort($event)">Incident ID <span class="iconify" data-icon="bxs:sort-alt"></span></th>
                  <th scope="col" sortable="department" (sort)="onSort($event)">Happened To <span class="iconify" data-icon="bxs:sort-alt"></span></th>
                  <th scope="col" sortable="auditor" (sort)="onSort($event)">Location <span class="iconify" data-icon="bxs:sort-alt"></span></th>
                  <th scope="col" sortable="auditee" (sort)="onSort($event)">Reported By <span class="iconify" data-icon="bxs:sort-alt"></span></th>
                  <th scope="col" sortable="auditDate" (sort)="onSort($event)">Incident Date & Time </th>
                  <th scope="col" sortable="compliance" (sort)="onSort($event)">Reason for the Incident</th>
                  <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
                  <th scope="col" class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (auditTable of countries; track auditTable.auditID) {
                  <tr>
                    <td scope="row">{{ auditTable.id }}</td>
                    <td>{{ auditTable.auditID }} </td>
                    <td>{{ auditTable.department }}</td>
                    <td>{{ auditTable.auditor }}</td>
                    <td>{{ auditTable.auditee }}</td>
                    <td>{{ auditTable.auditDate }}</td>
                    <td>{{ auditTable.compliance }}</td>
                                        <td [ngClass]="{
                                            'text-danger': auditTable.status === 'Opened',
                                            'text-success': auditTable.status === 'Investigation' || auditTable.status === 'Closed',
                                            'text-warning': auditTable.status === 'Assigned To'
                                          }">
                      {{ auditTable.status }}
                    </td>
                    <td>
                      <div class="action-dropdown float-end">
                        <ul>
                          <li>
                            <a href="javascript:;" routerLink="/incident-details"><span class="iconify" data-icon="lets-icons:view-alt-fill"></span></a>
                          </li>
                          <li>
                            <a href="javascript:;"><span class="iconify" data-icon="material-symbols:download-rounded"></span></a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>