<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <a href="javascript:;" class="icon-btn-square" (click)="goBack()">
                                        <i class="iconify pi pi-arrow-left"></i></a>
                                    <h3>PROM Report View </h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                @if(false){
                                <div class="form-right">
                                    <div class="dropdown dropdown-style1 ms-2">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Download <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                                            <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                        </ul>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card-body table-audit-group">
                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <p>Treatment Period: {{ ccMaster.treatment_period }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-green">{{ ccMaster.status }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                        <th>Patient Name </th>
                                        <th>Age</th>
                                        <th>Room No</th>
                                        <th>Phone No</th>
                                        <th>Admitted Unit</th>
                                        <th>Diagnosis</th>
                                        <th>Diagnosed Doctor</th>
                                    </tr>
                                    <tr>
                                        <td>{{ ccMaster.patient_name }}</td>
                                        <td>{{ ccMaster.age }}</td>
                                        <td>{{ ccMaster.room_no }}</td>
                                        <td>{{ ccMaster.phone_no }}</td>
                                        <td>{{ ccMaster.admitted_unit }}</td>
                                        <td>{{ ccMaster.diagnosis }}</td>
                                        <td>{{ ccMaster.doctor_name }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Feedback Type</h5>
                                            <p>General</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Overall Score</p>
                                            <span class="badge-green">90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit">
                                <table class="table table-bordered">
                                    @for(sec of ccMaster['sections'];track $index){
                                    <tr>
                                        <th width="80%" class="th-desc">
                                            <h6>{{sec['section_name']  }}</h6>
                                        </th>
                                        <th class="text-center">Score</th>
                                    </tr>
                                    @for(qstn of sec['questions'];track $index){
                                    <tr>
                                        <td>{{ qstn['question_text']  }} </td>
                                        <td class="text-center text-success">{{ qstn['score_type_name'] }}</td>
                                    </tr>
                                    }
                                    }
                                </table>
                            </div>

                        </div>

                        <div class="audit-info-cover">
                            <div class="audit-status">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="left-content">
                                            <h5>Care Continuity Feedback</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="right-content text-end">
                                            <p class="mb-1">Status</p>
                                            <span class="badge-green">{{ ccMaster['care_continue_status']   }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-audit">
                                <table class="table table-bordered">
                                    @for(sec of ccMaster['cc_sections'];track $index){
                                    <tr>
                                        <th width="80%" class="th-desc">
                                            <h6>{{sec['section_name']  }}</h6>
                                        </th>
                                        <th class="text-center">Reply</th>
                                    </tr>
                                    @for(qstn of sec['questions'];track $index){
                                    <tr>
                                        <td>{{ qstn['question_text']  }} </td>
                                        <td class="text-center text-success">{{ qstn['answer_text'] }}</td>
                                    </tr>
                                    }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>