<section class="wrapper-body">
  <div class="container-fluid page-height">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="card-style2">
          <div class="card-header backoption">
            <div class="row">
              <div class="col-md-7 col-12">
                <div class="heading-left">
                  <a href="javascript:;" class="icon-btn-square" (click)="goBack()"><span class="iconify" data-icon="famicons:arrow-back-outline"></span></a>
                  <h3>Training Attendance History</h3>
                </div>
              </div>
              <div class="col-md-5 col-12">
                <div class="form-right">
                  <a href="javascript:;" class="icon-btn-square" (click)="filterToggle()"><span class="iconify" data-icon="mage:filter"></span></a>
                  <div class="dropdown dropdown-style1 ms-2">
                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Download Report <span class="iconify" data-icon="akar-icons:chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                      <li><a class="dropdown-item" href="javascript:;">Download Word</a></li>
                      <li><a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          @if (showFilter) {
            <div class="filter-box form-sm">
              <div class="row">
                <div class="col-md-11 col-12">
                  <div class="row gx-2">
                    <div class="col-md-4 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>By Training Name</option>
                          <option>Basic Chiropractic Session</option>
                          <option>Diet Plan Regularity</option>
                          <option>Patient Wellness</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>By Mode of Training</option>
                          <option>Online</option>
                          <option>Offline</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="form-group">
                        <select class="form-select">
                          <option>By Venue</option>
                          <option>Automatic</option>
                          <option>Manual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <input type="date" class="form-control" placeholder="By Date">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-12 ps-0">
                  <button class="btn btn-primary w-100">Filter</button>
                </div>
              </div>
            </div>
          }

          <div class="card-body table-style1 table-responsive radius-4">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">S.No</th>
                  <th width="25%" scope="col" sortable="training" (sort)="onSort($event)">Training Name </th>
                  <th scope="col" sortable="mode" (sort)="onSort($event)">Mode of Training</th>
                  <th scope="col" sortable="venue" (sort)="onSort($event)">Venue</th>
                  <th scope="col" sortable="fromTime" (sort)="onSort($event)">Starting Date & Time</th>
                  <th scope="col" sortable="toTime" (sort)="onSort($event)">Ending Date & Time</th>
                  <th scope="col" class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (auditTable of countries; track auditTable.training) {
                  <tr>
                    <td scope="row">{{ auditTable.id }}</td>
                    <td>{{ auditTable.training }}</td>
                    <td>{{ auditTable.mode }}</td>
                    <td>{{ auditTable.venue }}</td>
                    <td>{{ auditTable.fromTime }}</td>
                    <td>{{ auditTable.toTime }}</td>
                    <td>
                      <div class="action-rowflex">
                        <div class="action-dropdown float-end">
                          <ul>
                            <li>
                              <a href="javascript:;"><span class="iconify" data-icon="cuida:users-outline"></span></a>
                            </li>
                          </ul>
                        </div>
                        <div class="actiondot-dropdown">
                          <div class="btn-group ms-2">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <span class="iconify" data-icon="tabler:dots"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li>
                                <a class="dropdown-item" href="javascript:;"><span class="iconify" data-icon="lucide:folder-down"></span> Option1</a>
                              </li>
                              <li>
                                <a class="dropdown-item" href="javascript:;"><span class="iconify" data-icon="lucide:folder-down"></span> Option2</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            <nav aria-label="Page navigation pagination text-end">
              <ul class="pagination d-flex justify-content-end">
                <li class="page-item next">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item prev">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>