<div class="card-style1 report">
    <div class="card-header">
        Compliance Wise Reports
    </div>
    <div class="card-body">
        <div class="grid-report">
            <div class="icon">
                <span class="iconify" data-icon="iconoir:user-crown"></span>
            </div>
            <div class="content">
                <h5><a href="javascript:;">Staff Category 01</a></h5>
                <p>Last Updated <strong>April 11, 2025 10:23:00</strong></p>
            </div>
        </div>
        <div class="grid-report">
            <div class="icon">
                <span class="iconify" data-icon="iconoir:user-crown"></span>
            </div>
            <div class="content">
                <h5><a href="javascript:;">Staff Category 02</a></h5>
                <p>Last Updated <strong>April 11, 2025 10:23:00</strong></p>
            </div>
        </div>
        <div class="grid-report">
            <div class="icon">
                <span class="iconify" data-icon="iconoir:user-crown"></span>
            </div>
            <div class="content">
                <h5><a href="javascript:;">Staff Category 03</a></h5>
                <p>Last Updated <strong>April 11, 2025 10:23:00</strong></p>
            </div>
        </div>
        <div class="grid-report">
            <div class="icon">
                <span class="iconify" data-icon="iconoir:user-crown"></span>
            </div>
            <div class="content">
                <h5><a href="javascript:;">Staff Category 04</a></h5>
                <p>Last Updated <strong>April 11, 2025 10:23:00</strong></p>
            </div>
        </div>
    </div>
</div>