<section class="wrapper-body audit-master-dashboard">
  <div class="container-fluid">
    <section class="status-card">
      <div class="main-heading-link">
        <h3 class="main-heading">Audit Master</h3>
        <div class="btn-group-row">
          <div class="btn-groups">
            <div class="dropdown dropdown-style1 filterDropdown">
              <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="iconify icon-calc pi pi-calendar"></i>
                {{ selectedRange }}
                <i class="iconify pi pi-angle-down"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last 7 days')">Last 7 days</a>
                </li>
                <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last 30 days')">Last 30 days</a>
                </li>
                <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last Month')">Last Month</a></li>
                <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last 6 Months')">Last 6
                    Months</a>
                </li>
                <li><a class="dropdown-item" href="javascript:;" (click)="setRange('Last Year')">Last Year</a></li>
              </ul>
            </div>
          </div>
          <a href="javascript:;" class="btn btn-success" (click)="onPageRoute('NEW',null)" appAccess="access_add">
            <span class="iconfiy"> <i class=" pi pi-plus-circle" style="margin-right: 2px;"></i></span>
            Create New Audit </a>

        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card-grid-cover bg1">
            <div class="card-grid-header">
              <h5>Total <br /> Audit Masters</h5>
              <h3>{{ stats().total_audit_masters }}</h3>
              <div class="icon">
                <!-- <span class="iconify" data-icon="hugeicons:audit-01"></span> -->
                <i class="iconify pi pi-copy primeicons-size"></i>
              </div>
            </div>
            <div class="card-grid-body">
              <div class="row align-items-center">
                <div class="col-md-7 col-7">
                  <p>Last Updated</p>
                  <h5>{{ stats().total_audit_masters_last_updated || 'N/A' }}</h5>
                </div>
                <div class="col-md-5 text-end col-5">
                  <button class="btn btn-light">View Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card-grid-cover bg3">
            <div class="card-grid-header">
              <h5>Active <br /> Audits </h5>
              <h3>{{ stats().active_audits }}</h3>
              <div class="icon">
                <!-- <span class="iconify" data-icon="hugeicons:audit-02"></span> -->
                <i class="iconify pi pi-search-plus primeicons-size"></i>
              </div>
            </div>
            <div class="card-grid-body">
              <div class="row align-items-center">
                <div class="col-md-7 col-7">
                  <p>Last Updated</p>
                  <h5>{{ stats().active_audits_last_updated || 'N/A' }}</h5>
                </div>
                <div class="col-md-5 col-5 text-end">
                  <button class="btn btn-light">View All</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card-grid-cover bg4">
            <div class="card-grid-header">
              <h5>Scheduled <br /> Audits</h5>
              <h3>{{ stats().scheduled_audits }}</h3>
              <div class="icon">
                <i class="iconify pi pi-calendar-clock primeicons-size"></i>
                <!-- <span class="iconify" data-icon="hugeicons:legal-01"></span> -->
              </div>
            </div>
            <div class="card-grid-body">
              <div class="row align-items-center">
                <div class="col-md-7 col-7">
                  <p>Last Updated</p>
                  <h5>{{ stats().scheduled_audits_last_updated || 'N/A' }}</h5>
                </div>
                <div class="col-md-5 col-5 text-end">
                  <button class="btn btn-light">View Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card-grid-cover bg2">
            <div class="card-grid-header">
              <h5>Completed <br /> Audits</h5>
              <h3>{{ stats().completed_audits }}</h3>
              <div class="icon">
                <i class="iconify pi pi-verified "></i>
                <!-- <span class="iconify" data-icon="hugeicons:ai-user"></span> -->
              </div>
            </div>
            <div class="card-grid-body">
              <div class="row align-items-center">
                <div class="col-md-7 col-7">
                  <p>Last Updated</p>
                  <h5>{{ stats().completed_audits_last_updated || 'N/A' }}</h5>
                </div>
                <div class="col-md-5 col-5 text-end">
                  <button class="btn btn-light">View All</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Audit Master List Table Section -->
    <section class="report-table mt-3 mb-3">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="card-style2">
            <div class="card-header backoption">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="heading-left">
                    <h3>Audit Master List</h3>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-right">
                    <a href="javascript:;" ngbTooltip="Filter" placement="top" class="icon-btn-square"
                      (click)="filterToggle()">
                      <i class="iconify pi pi-sliders-h"></i>
                    </a>
                    <div class="dropdown dropdown-style1">

                      <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" appAccess="access_print">
                        Download Report
                        <i class="iconify pi pi-angle-down"></i>
                      </button>

                      <ul class="dropdown-menu">
                        <li
                          [DCSV]="{ param :params,screenName:'Audit Master',data : auditData.length,methodName : 'fnAuditTemplateApi' }">
                          <a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                        <li
                          [PDF]="{ param :params,screenName:'Audit Master',data : auditData.length,methodName : 'fnAuditTemplateApi' }">
                          <a class="dropdown-item" href="javascript:;">Download Pdf</a>
                        </li>
                        <li
                          [EXCEL]="{ param :params,screenName:'Audit Master',data : auditData.length,methodName : 'fnAuditTemplateApi'  }">
                          <a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            @if (showFilter) {
            <div class="filter-box form-sm">
              <div class="row">
                <div class="col-md-11 col-12">
                  <div class="row gx-2">
                    <div class="col-md-3 col-12">
                      <div class="flex flex-col gap-1">
                        <label for="audit_name">Audit Name</label>
                        <p-select id="audit_name" [(ngModel)]="trainingFilters().audit_name" name="audit_name"
                          [options]="auditNameList" [filter]="true" [showClear]="true"
                          (onClear)="onFilterClear(true)" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="flex flex-col gap-1">
                        <label for="audit_type">Audit Type</label>
                        <p-select id="audit_type" [(ngModel)]="trainingFilters().audit_type" name="audit_type"
                          [options]="auditTypeList" [filter]="true" [showClear]="true"
                          (onClear)="onFilterClear(true)" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-3 col-12">
                      <div class="flex flex-col gap-1">
                        <label for="category">Category</label>
                        <p-select id="category" [(ngModel)]="trainingFilters().category" name="category"
                          [options]="auditCategoryList" [filter]="true" [showClear]="true"
                          (onClear)="onFilterClear(true)" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="flex flex-col gap-1">
                        <label for="status">By Status</label>
                        <p-select id="status" [(ngModel)]="trainingFilters().status" name="status"
                          [options]="statusList" [filter]="true" [showClear]="true"
                          (onClear)="onFilterClear(true)" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-12">
                  <button class="btn btn-primary w-100 " (click)="onFilterClick()">Filter</button>
                  <button class="btn btn-dark w-100" (click)="onFilterClear(null)">Clear</button>
                </div>
              </div>
            </div>
            }

            <div class="card-body table-style1 table-responsive radius-4">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col" sortable="audit_template_code" (sort)="onSort($event)">
                      Audit ID
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="auditName" (sort)="onSort($event)">
                      Audit Name
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="auditType" (sort)="onSort($event)">
                      Audit Type
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="category" (sort)="onSort($event)">
                      Category
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="sections" (sort)="onSort($event)">
                      Sections
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="questions" (sort)="onSort($event)">
                      Questions
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" sortable="created_by" (sort)="onSort($event)">Created By</th>
                    <th scope="col" sortable="created_at" (sort)="onSort($event)">Created on</th>
                    <th scope="col" sortable="updated_by" (sort)="onSort($event)">Modified By</th>
                    <th scope="col" sortable="updated_at" (sort)="onSort($event)">Last Modified</th>
                    <th scope="col" sortable="status" (sort)="onSort($event)">
                      Status
                      <i class="iconify pi pi-sort"></i>
                    </th>
                    <th scope="col" class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (adtInfo of auditData; track adtInfo.id) {
                  <tr>
                    <td scope="row">{{ adtInfo.id }}</td>
                    <td>#{{ adtInfo.audit_template_code }}</td>
                    <td>{{ adtInfo.auditName }}</td>
                    <td>{{ adtInfo.auditType }}</td>
                    <td>{{ adtInfo.category }}</td>
                    <!-- class=" hq-text-right" -->
                    <td>{{ adtInfo.sections }}</td>
                    <td>{{ adtInfo.questions }}</td>
                    <td>{{ adtInfo.created_by }}</td>
                    <td>{{ adtInfo.created_at }}</td>
                    <td>{{ adtInfo.updated_by }}</td>
                    <td>{{ adtInfo.updated_at }}</td>
                    <td [ngClass]="getStatusClass(adtInfo.status)">
                      {{ adtInfo.status }}
                    </td>
                    <td class="text-end">
                      <div class="actiondot-dropdown">
                        <div class="btn-group ms-2">
                          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <!-- <span class="iconify" data-icon="tabler:dots"></span> -->
                            <i class="iconify pi pi-ellipsis-h"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <a class="dropdown-adtInfo" href="javascript:;"
                                (click)="onPageRoute('VIEW',adtInfo)">View</a>
                            </li>
                            @if(adtInfo.status != 'Inactive' && adtInfo.audit_schedule_status != 'SCHEDULED'){

                            <li>
                              <a class="dropdown-adtInfo" href="javascript:;"
                                (click)="onPageRoute('EDIT',adtInfo)">Edit</a>
                            </li>

                            <li>
                              <a class="dropdown-adtInfo" href="javascript:;" data-bs-toggle="modal"
                                data-bs-target="#dateDeleteModal" (click)="onDelete(adtInfo)">Delete</a>
                            </li>
                            }
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
              <nav aria-label="Page navigation pagination text-end">
                <ul class="pagination d-flex justify-content-end">
                  <li class="page-adtInfo next" [class.disabled]="pageNators().pageNo === 1">
                    <a class="page-link cursor" aria-label="Previous" (click)="changePage(pageNators().pageNo-1)">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  @for(p of pageNumbers();track p){
                  <li class="page-adtInfo" [class.active]="pageNators().pageNo === p">
                    <a class="page-link cursor" (click)="changePage(p)">{{p}}</a>
                  </li>
                  }
                  <li class="page-adtInfo prev" [class.disabled]="pageNators().pageNo === pageNumbers().length">
                    <a class="page-link cursor" aria-label="Next" (click)="changePage(pageNators().pageNo+1)">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- <app-alert-modals></app-alert-modals> -->