<section class="wrapper-body">
    <div class="container-fluid">
        <section class="status-card">
            <div class="main-heading-link">
                <h3 class="main-heading">Organizations List</h3>
                <div class="btn-group-row">
                    <a href="javascript:;" class="btn btn-success" (click)="onPageRoute('NEW',null)">
                        <span class="iconfiy"> <i class=" pi pi-plus-circle" style="margin-right: 2px;"></i></span>
                        New Organization
                    </a>
                </div>
            </div>
        </section>

        <section class="report-table mt-3 mb-3">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="card-style2">
                        <div class="card-header backoption">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="form-right">
                                        <a href="javascript:;" ngbTooltip="Filter" placement="top"
                                            class="icon-btn-square" (click)="filterToggle()">
                                            <i class="iconify pi pi-sliders-h"></i>
                                        </a>
                                        <div class="dropdown dropdown-style1 ms-2">
                                            <button class="btn btn-light dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Download Report
                                                <i class="iconify pi pi-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li
                                                    [DCSV]="{ param :params,screenName:'Organizations',data : orgList.length,methodName : 'fnOrgApi'}">
                                                    <a class="dropdown-item" href="javascript:;">Download CSV</a></li>
                                                <li
                                                    [PDF]="{ param :params,screenName:'Organizations',data : orgList.length,methodName : 'fnOrgApi'}">
                                                    <a class="dropdown-item" href="javascript:;">Download Pdf</a>
                                                </li>
                                                <li
                                                    [EXCEL]="{ param :params,screenName:'Organizations',data : orgList.length,methodName : 'fnOrgApi'}">
                                                    <a class="dropdown-item" href="javascript:;">Download Excel</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (showFilter) {
                        <div class="filter-box form-sm">
                            <div class="row">
                                <div class="col-md-11 col-12">
                                    <div class="row gx-2">
                                        <div class="col-md-3 col-12">
                                            <div class="flex flex-col gap-1">
                                                <label for="org_name">By Organization Name</label>
                                                <p-select id="org_name" [(ngModel)]="orgFilters().org_name"
                                                    name="org_name" [options]="orgList" [filter]="true"
                                                    [showClear]="true" (onClear)="onFilterClear(true)"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <div class="flex flex-col gap-1">
                                                <label for="contact_person">By Contact Person</label>
                                                <p-select id="contact_person" [(ngModel)]="orgFilters().contact_person"
                                                    name="contact_person" [options]="contactPersonList" [filter]="true"
                                                    [showClear]="true" (onClear)="onFilterClear(true)"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-12">
                                            <div class="flex flex-col gap-1">
                                                <label for="company_url">By Company URL</label>
                                                <p-select id="company_url" [(ngModel)]="orgFilters().company_url"
                                                    name="company_url" [options]="companyUrlList" [filter]="true"
                                                    [showClear]="true" (onClear)="onFilterClear(true)"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 col-12 ps-0">
                                    <button class="btn btn-primary w-100" (click)="onFilterClick()">Filter</button>
                                    <button class="btn btn-dark" (click)="onFilterClear(null)">Clear</button>
                                </div>
                            </div>
                        </div>
                        }

                        <div class="card-body table-style1 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">S.No</th>
                                        <th width="15%" scope="col" sortable="org_name" (sort)="onSort($event)">
                                            Organization Name
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th width="15%" scope="col" sortable="no_of_locations" (sort)="onSort($event)">
                                            Locations
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="contact_person" (sort)="onSort($event)">
                                            Contact Person
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="company_url" (sort)="onSort($event)">
                                            Company URL
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="privacy_policy_url" (sort)="onSort($event)">
                                            Privacy Policy URL
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="terms_of_usage_url" (sort)="onSort($event)">
                                            Terms of Usage URL
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="copy_right" (sort)="onSort($event)">
                                            Copyright
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="email_id" (sort)="onSort($event)">
                                            Email ID
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="office_phone" (sort)="onSort($event)">
                                            Office Phone
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="fax_number" (sort)="onSort($event)">
                                            Fax No.
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="mobile_phone" (sort)="onSort($event)">
                                            Mobile No.
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="website_url" (sort)="onSort($event)">
                                            Website URL
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="address1" (sort)="onSort($event)">
                                            Address 1
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="address2" (sort)="onSort($event)">
                                            Address 2
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="area_name" (sort)="onSort($event)">
                                            Area
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="city_name" (sort)="onSort($event)">
                                            City
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="state_name" (sort)="onSort($event)">
                                            State
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th scope="col" sortable="country_name" (sort)="onSort($event)">
                                            Country
                                            <i class="iconify pi pi-sort"></i>
                                        </th>
                                        <th>Status</th>
                                        <th>
                                            Approve
                                        </th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (orgs of orgInfo; track orgs.id) {
                                    <tr>
                                        <td scope="row">{{ orgs.id }}</td>
                                        <td>{{ orgs.org_name }}</td>
                                        <td>{{ orgs.no_of_locations }}</td>
                                        <td>{{ orgs.contact_person }}</td>
                                        <td>{{ orgs.company_url }}</td>
                                        <td>{{ orgs.privacy_policy_url }}</td>
                                        <td>{{ orgs.terms_of_usage_url }}</td>
                                        <td>{{ orgs.copy_right }}</td>
                                        <td>{{ orgs.email_id }}</td>
                                        <td>{{ orgs.office_phone }}</td>
                                        <td>{{ orgs.fax_number }}</td>
                                        <td>{{ orgs.mobile_phone }}</td>
                                        <td>{{ orgs.website_url }}</td>
                                        <td>{{ orgs.address1 }}</td>
                                        <td>{{ orgs.address2 }}</td>
                                        <td>{{ orgs.area_name }}</td>
                                        <td>{{ orgs.city_name }}</td>
                                        <td>{{ orgs.state_name }}</td>
                                        <td>{{ orgs.country_name }}</td>
                                        <td [ngClass]="{
                                            'text-danger': orgs.status === 'Inactive',
                                            'text-success': orgs.status === 'Active',
                                          }">{{ orgs.status}} </td>
                                        <td>
                                            @if(orgs.is_approved_org != 'Approved'){
                                            <div>
                                                <i class="pi pi-check-circle cursor" (click)="onClickApprove(orgs)"></i>
                                            </div>
                                            }@else{
                                            {{  orgs.is_approved_org}}
                                            }
                                        </td>
                                        <td>
                                            <div class="actiondot-dropdown">
                                                <div class="btn-group ms-2">
                                                    <button type="button" class="btn dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="iconify pi pi-ellipsis-h"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="javascript:;"
                                                                (click)="onPageRoute('VIEW',orgs)">View</a>
                                                        </li>
                                                        @if(orgs.is_approved_org == 'Approved'){
                                                        <li>
                                                            <a class="dropdown-item" href="javascript:;"
                                                                (click)="onPageRoute('EDIT',orgs)">Edit</a>
                                                        </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- <nav aria-label="Page navigation pagination text-end">
                                <ul class="pagination d-flex justify-content-end">
                                    <li class="page-adtInfo next" [class.disabled]="pageNators().pageNo === 1">
                                        <a class="page-link cursor" aria-label="Previous"
                                            (click)="changePage(pageNators().pageNo-1)">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for(p of pageNumbers();track p){
                                    <li class="page-adtInfo" [class.active]="pageNators().pageNo === p">
                                        <a class="page-link cursor" (click)="changePage(p)">{{p}}</a>
                                    </li>
                                    }
                                    <li class="page-adtInfo prev"
                                        [class.disabled]="pageNators().pageNo === pageNumbers().length">
                                        <a class="page-link cursor" aria-label="Next"
                                            (click)="changePage(pageNators().pageNo+1)">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>