
// Sass Colors
$primaryColor: #1D7ECE;
$textBlackPrimary: #0E2024;
$barbgBlue: #EBF2FA;
$textWhite: #FFFFFF;
$greenColor: #1D8C3A;
$greenHover: #097526;
$textBlack: #000;
$inputPlaceholder: #8BA3CB;
$roseBg: #FF82AC;
$greenBg: #16DBCC;
$yellowBg: #FFBB38;
$textBlue: #396AFF;
$lightBlue: #718EBF;
$textDark: #71717A;
$greenBadgebg: #1D8C3A1A;
$textRed: #D92D20;
$sortingArrow: #8BA3CB;
$inputBg: #EBF2FA;
$btndarkBg: #71717A;
$btndarkBgHover: #595963;
$tableHover: #E0EFFF;
$textGray: #71717AE0;
$indicatorGray: #C4C4C4;

$readText: #595960;
$redBadgebg: #D92D201A;
$tddarkGrag: #D6E8E7;
$Scrollindicator: #D6E8E7;
$infoIconDark: #B1B1B1;

$yellowBadge: #FFBB3833;
$selectBorderGray: #0E20244D;
$avatarBorder: #1D7ECE80;
$cardBorder: #ddd;
$textPurple: #562496;
$orangeBadge: #FFBB3833;
$textOrange: #FF8446;
$borderGray: #DFDFDF;
$infoIcon: #8BA3CB;

$themeborderGray: #E8EDEB;
$themberborderGrayHover: #1D7ECE80;

$themeblueDark: #29508F;
$themeblueLight: #D9EAFF;
$themeblueUpload: #4e8ae9;
$themeBluePrimaryHover: #215ec0;
$tableTotalRowBlue: #b9d7fb;    

$themetealDark: #007787;
$themetealLight: #F1FAF5;
$themetealUpload: #3DC0C7;
$themeTealPrimaryHover: #0c899a;
$tableTotalRowTeal: #b1edf5;    

$themegreenDark: #1D8C3A;
$themegreenLight: #EAFFF0;
$themegreenDarkUpload: #52d375;
$themeGreenPrimaryHover: #17ab3f;
$tableTotalRowGreen: #bbf7cc;    

$themeorangeDark: #EE9D4C;
$themeorangeLight: #FAF0EF;
$themeorangeDarkUpload: #eab279;
$themeOrangePrimaryHover: #d89552;
$tableTotalRowOrange: #F4D5D2;    

$redbgLight: #F7D5D2;
$orangeColor: #FFB11F;
$greenlightColor: #6BC82E;
$orangeDarkColor: #F4861E;