<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-9 col-12">
                                <div class="heading-left">
                                    <h3>Access Role</h3>
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <div class="form-right">
                                    <button type="button" class="btn btn-dark" [disabled]="pageMode=='VIEW'"
                                        (click)="onClearClick()">Clear</button>
                                    <button type="submit" class="btn btn-primary" [disabled]="pageMode=='VIEW'"
                                        (click)="onSubmitClick()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-style1">
                        <div class="row form-sm gx-2 mb-3">
                            <div class="col-3">
                                <div class="col-12">
                                    <div class="flex flex-col gap-1">
                                        <label for="loc_id">Location</label>
                                        <div style="position: relative;display:inline-block;width:100%">
                                            <p-select id="loc_id" [(ngModel)]="createAccessbyRole().loc_id"
                                                (onChange)="onLocChange()" [options]="locList" [filter]="true"
                                                placeholder="Location" (onBlur)="onGetErrMsg('loc_id')" name="loc_id"
                                                class="form-control" [appendTo]="'body'" />
                                            <div style=" position: absolute;
                                                                top: 0;
                                                                right: 0;
                                                                width: 0;
                                                                height: 0;
                                                                border-top: 12px solid red;
                                                                border-left: 12px solid transparent;">
                                            </div>
                                        </div>
                                        @if(errorMsg['loc_id']!=""){
                                        <small class="error">{{errorMsg['loc_id']}}</small>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="flex flex-col gap-1">
                                        <label for="role_id">Role</label>
                                        <div style="position: relative;display:inline-block;width:100%">
                                            <p-select id="role_id" [(ngModel)]="createAccessbyRole().role_id"
                                                (onChange)="onRoleChange()" [options]="roleList" [filter]="true"
                                                placeholder="Role" (onBlur)="onGetErrMsg('role_id')" name="role_id"
                                                class="form-control" [appendTo]="'body'" />
                                            <div style=" position: absolute;
                                                                top: 0;
                                                                right: 0;
                                                                width: 0;
                                                                height: 0;
                                                                border-top: 12px solid red;
                                                                border-left: 12px solid transparent;">
                                            </div>
                                        </div>
                                        @if(errorMsg['role_id']!=""){
                                        <small class="error">{{errorMsg['role_id']}}</small>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="flex flex-col gap-1">
                                        <label for="module_id">Module</label>
                                        <div style="position: relative;display:inline-block;width:100%">
                                            <p-select id="module_id" [(ngModel)]="createAccessbyRole().module_id"
                                                (onBlur)="onGetErrMsg('module_id')" (onChange)="onModuleChange()"
                                                [options]="moduleList" [filter]="true" name="module_id"
                                                placeholder="Module" class="form-control" [appendTo]="'body'" />
                                            <div style=" position: absolute;
                                                                top: 0;
                                                                right: 0;
                                                                width: 0;
                                                                height: 0;
                                                                border-top: 12px solid red;
                                                                border-left: 12px solid transparent;">
                                            </div>
                                        </div>
                                        @if(errorMsg['module_id']!=""){
                                        <small class="error">{{errorMsg['module_id']}}</small>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">

                                <div class="table-responsive">
                                    <table class="table table-striped mt-2">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    Select
                                                    <p-toggleswitch [(ngModel)]="selecteAll" name="select"
                                                        (change)="onSelectAll($event)"
                                                        [disabled]="role_access.length==0" />
                                                </th>
                                                <th>Document</th>
                                                <th>Add</th>
                                                <th>View</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                                <!-- <th>Qry</th> -->
                                                <!-- <th>App</th> -->
                                                <th>Print</th>
                                                <!-- <th>Exp</th> -->
                                                <!-- <th>DMS Up</th>
                                                <th>DMS View</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (selectedDocInfo of role_access; track selectedDocInfo.id) {
                                            <tr>
                                                <td scope="row">
                                                    <!-- class="form-check-input" -->
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.select" name="select"
                                                        (change)="onSelectClick($event,selectedDocInfo)" />
                                                </td>
                                                <td>
                                                    {{ selectedDocInfo.document_name }}
                                                </td>
                                                <td>
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.access_add"
                                                        name="access_add" [disabled]="selectedDocInfo.select == null" />

                                                </td>
                                                <td>
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.access_view"
                                                        name="access_view"
                                                        [disabled]="selectedDocInfo.select == null" />

                                                </td>
                                                <td>
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.access_mod"
                                                        name="access_mod" [disabled]="selectedDocInfo.select == null" />
                                                </td>
                                                <td>
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.access_del"
                                                        name="access_del" [disabled]="selectedDocInfo.select == null" />
                                                </td>
                                                <!-- <td>
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.access_qry"
                                                        name="access_qry" [disabled]="selectedDocInfo.select == null" />
                                                </td>
                                                <td>
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.access_app"
                                                        name="access_app" [disabled]="selectedDocInfo.select == null" />
                                                </td> -->
                                                <td>
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.access_print"
                                                        name="access_print"
                                                        [disabled]="selectedDocInfo.select == null" />
                                                </td>
                                                <!-- <td>
                                                    <p-toggleswitch [(ngModel)]="selectedDocInfo.access_exp"
                                                        name="access_exp" [disabled]="selectedDocInfo.select == null" />
                                                </td> -->
                                                <!-- <td>
                                                    <input type="checkbox" id="dms_upload"
                                                        [(ngModel)]="selectedDocInfo.dms_upload" name="dms_upload"
                                                        [disabled]="selectedDocInfo.select == null" />
                                                </td>
                                                <td>
                                                    <input type="checkbox" id="dms_view"
                                                        [(ngModel)]="selectedDocInfo.dms_view" name="dms_view"
                                                        [disabled]="selectedDocInfo.select == null" />
                                                </td> -->
                                            </tr>
                                            }@empty{
                                            <tr style="text-align: center">
                                                <td colspan="11">No Documents Found</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    ::ng-deep .p-toggleswitch {
        display: inline-block;
        width: var(--p-toggleswitch-width);
        height: 1.2rem;
        /* width: 32px; */
        /* height: var(--p-toggleswitch-height); */
    }
</style>