@use '../../../variables';

#chart {
    width: 100%;
    position: relative;
    
    apx-chart {
        width: 100% !important;
        display: block;
    }
}

.legends {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
    span {
        width: 10px;
        height: 10px;
        background-color: variables.$yellowBg;
        border-radius: 2px;
        margin-right: 5px;
    }
    font-size: 13px;
    color: variables.$textBlackPrimary;
}