<section class="wrapper-body">
    <div class="container-fluid page-height">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card-style2">
                    <div class="card-header backoption">
                        <div class="row">
                            <div class="col-md-7 col-12">
                                <div class="heading-left">
                                    <h3>{{_hqms.getPageModeContext(pageMode, 'Password Policy') }}</h3>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="form-right">
                                    <button class="btn btn-primary" [disabled]="pageMode=='VIEW'"
                                        appAccess="access_mod" (click)="onSubmitClick()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="formbox-left form-lg">
                            <form>
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="flex flex-col gap-1">
                                            <label for="passw_policy_min_len">Minimum Length</label>
                                            <div style="position: relative;display:inline-block;width:100%">
                                                <input type="number" pInputText id="passw_policy_min_len"
                                                    [(ngModel)]="ppMstr().passw_policy_min_len"
                                                    placeholder="Minimum Length"
                                                    (blur)="onGetErrorMsgs('passw_policy_min_len')"
                                                    [disabled]="pageMode=='VIEW'" name="passw_policy_min_len"
                                                    class=" form-control">
                                                <div style=" position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 0;
                                                height: 0;
                                                border-top: 12px solid red;
                                                border-left: 12px solid transparent;"></div>
                                            </div>
                                            @if(errorMsg['passw_policy_min_len']!=''){
                                            <small class="error">{{ errorMsg['passw_policy_min_len']}}</small>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="flex flex-col gap-1">
                                            <label for="passw_policy_special_char_len">Minimum Special Character</label>
                                            <div style="position: relative;display:inline-block;width:100%">
                                                <input type="number" pInputText id="passw_policy_special_char_len"
                                                    [(ngModel)]="ppMstr().passw_policy_special_char_len"
                                                    placeholder="Minimum Special Charcter"
                                                    (blur)="onGetErrorMsgs('passw_policy_special_char_len')"
                                                    [disabled]="pageMode=='VIEW'" name="passw_policy_special_char_len"
                                                    class=" form-control">
                                                <div style=" position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 0;
                                                height: 0;
                                                border-top: 12px solid red;
                                                border-left: 12px solid transparent;"></div>
                                            </div>
                                            @if(errorMsg['passw_policy_special_char_len']!=''){
                                            <small class="error">{{ errorMsg['passw_policy_special_char_len']}}</small>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="flex flex-col gap-1">
                                            <label for="passw_policy_min_capital_letters_len">Minimum Upper Case</label>
                                            <div style="position: relative;display:inline-block;width:100%">
                                                <input type="number" pInputText
                                                    id="passw_policy_min_capital_letters_len"
                                                    [(ngModel)]="ppMstr().passw_policy_min_capital_letters_len"
                                                    placeholder="Minimum Upper Case"
                                                    (blur)="onGetErrorMsgs('passw_policy_min_capital_letters_len')"
                                                    [disabled]="pageMode=='VIEW'"
                                                    name="passw_policy_min_capital_letters_len" class=" form-control">
                                                <div style=" position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 0;
                                                height: 0;
                                                border-top: 12px solid red;
                                                border-left: 12px solid transparent;"></div>
                                            </div>
                                            @if(errorMsg['passw_policy_min_capital_letters_len']!=''){
                                            <small
                                                class="error">{{ errorMsg['passw_policy_min_capital_letters_len']}}</small>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="flex flex-col gap-1">
                                            <label for="passw_policy_min_small_letters_len">Minimum Lower Case</label>
                                            <div style="position: relative;display:inline-block;width:100%">
                                                <input type="number" pInputText id="passw_policy_min_small_letters_len"
                                                    [(ngModel)]="ppMstr().passw_policy_min_small_letters_len"
                                                    placeholder="Minimum Lower Case"
                                                    (blur)="onGetErrorMsgs('passw_policy_min_small_letters_len')"
                                                    [disabled]="pageMode=='VIEW'"
                                                    name="passw_policy_min_small_letters_len" class=" form-control">
                                                <div style=" position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 0;
                                                height: 0;
                                                border-top: 12px solid red;
                                                border-left: 12px solid transparent;"></div>
                                            </div>
                                            @if(errorMsg['passw_policy_min_small_letters_len']!=''){
                                            <small
                                                class="error">{{ errorMsg['passw_policy_min_small_letters_len']}}</small>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="flex flex-col gap-1">
                                            <label for="passw_policy_digits_min_len">Minimum Numbers</label>
                                            <div style="position: relative;display:inline-block;width:100%">
                                                <input type="number" pInputText id="passw_policy_digits_min_len"
                                                    [(ngModel)]="ppMstr().passw_policy_digits_min_len"
                                                    (blur)="onGetErrorMsgs('passw_policy_digits_min_len')"
                                                    placeholder="Minimum Numbers" [disabled]="pageMode=='VIEW'"
                                                    name="passw_policy_digits_min_len" class=" form-control">
                                                <div style=" position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 0;
                                                height: 0;
                                                border-top: 12px solid red;
                                                border-left: 12px solid transparent;"></div>
                                            </div>
                                            @if(errorMsg['passw_policy_digits_min_len']!=''){
                                            <small class="error">{{errorMsg['passw_policy_digits_min_len']}}</small>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="flex flex-col gap-1">
                                            <label for="passw_expiry_days">Password Validity (in days)</label>
                                            <div style="position: relative;display:inline-block;width:100%">
                                                <input pInputText id="passw_expiry_days"
                                                    [(ngModel)]="ppMstr().passw_expiry_days"
                                                    placeholder="Password Validity"
                                                    (blur)="onGetErrorMsgs('passw_expiry_days')"
                                                    [disabled]="pageMode=='VIEW'" name="passw_expiry_days"
                                                    class=" form-control" autocomplete="off" appNospaces>
                                                <div style=" position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 0;
                                                height: 0;
                                                border-top: 12px solid red;
                                                border-left: 12px solid transparent;"></div>
                                            </div>
                                            @if(errorMsg['passw_expiry_days']!=''){
                                            <small class="error">{{errorMsg['passw_expiry_days']}}</small>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="flex flex-col gap-1">
                                            <label for="passw_remainder_days">Password Reminder (in days)</label>
                                            <div style="position: relative;display:inline-block;width:100%">
                                                <input pInputText id="passw_remainder_days"
                                                    [(ngModel)]="ppMstr().passw_remainder_days"
                                                    (blur)="onGetErrorMsgs('passw_remainder_days')"
                                                    placeholder="Password Reminder" [disabled]="pageMode=='VIEW'"
                                                    name="passw_remainder_days" class=" form-control" autocomplete="off"
                                                    appNospaces>
                                                <div style=" position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 0;
                                                height: 0;
                                                border-top: 12px solid red;
                                                border-left: 12px solid transparent;"></div>
                                                @if(errorMsg['passw_remainder_days']!=''){
                                                <small class="error">{{errorMsg['passw_remainder_days']}}</small>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="flex flex-col gap-1">
                                            <label for="remarks">Remarks</label>
                                            <div style="position: relative;display:inline-block;width:100%">
                                                <textarea pTextarea id="remarks" [(ngModel)]="ppMstr().remarks"
                                                    [disabled]="pageMode=='VIEW'" name="remarks"
                                                    placeholder="Remarks" (blur)="onGetErrorMsgs('remarks')"
                                                    class="form-control " class=" form-control" autocomplete="off"
                                                    appNospaces></textarea>
                                                <div style=" position: absolute;
                                                top: 0;
                                                right: 0;
                                                width: 0;
                                                height: 0;
                                                border-top: 12px solid red;
                                                border-left: 12px solid transparent;"></div>
                                            </div>
                                            @if(errorMsg['remarks']!=''){
                                            <small class="error">{{errorMsg['remarks']}}</small>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>